#intro-hero-concesion
    background-image: url("../img/imag_1.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 75vh
    h2
        padding: 120px 25px
        color: white
        font-size: 80px
        font-family: 'roboto-bold', sans-serif

#que-es-concesion
    img
        width: 120px
        align-items: center
    h2
        font-size: 40px
        color: $secondary
    p
        font-family: 'roboto-regular', sans-serif

#ani-concesion
    .box-yellow
        width: 250px
        height: 300px
        z-index: 1
    .img-ani
        z-index: 3
        img
            width: 90%
            margin-top: 50px
            margin-left: 50px  
    .img-rigth
        width: 120px
        align-items: center
    h2
        color: $secondary
        font-size: 40px
    p
        font-family: 'roboto-regular', sans-serif
    .line-yellow
        margin-top: 230px

#ocensa-concesion
    .left-img
        width: 120px
        align-items: center
    h2
        color: $secondary
        font-size: 40px
    .line-yellow
        margin-top: 135px
    p
        font-family: 'roboto-regular', sans-serif
    .img-right
        width: 90%
        margin-left: 30px
        
#conport-concesion
    height: 1110px
    .line-white
        height: 2px
        width: 75px
        margin-top: 130px
    .left-img
        width: 120px
        align-items: center
    h2
        color: $secondary
        font-size: 40px
    p
        color: #505d6c
    .cont-right
        margin: 38px 0 36px
        padding: 0px 24px 80px 76px
        .text-right
            margin-top: 60px
        ul
            li
                color: #505d6c
                font-weight: 500
    .cont-down
        .img-down
            width: 1000px
            left: -100px
    .info-down
        margin-top: 220px
        margin-left: 500px
        .oc-circle
            width: 60px
            height: 60px
            border-radius: 50px
            border: 4px solid $primary
            margin-bottom: -29px
            position: relative
            margin-left: 50px
        p
            color: white
            font-size: 30px
            font-family: 'roboto-regular', sans-serif
            width: 630px
            height: 330px
            background-color: $secondary
            padding: 60px
            line-height: 1.1em
   
#amb-concesion
    margin-top: 120px
    .line-yellow
        margin-top: 200px
    h2
        color: $secondary
        font-size: 40px
    .left-img
        width: 120px
        align-items: center
    p
        margin-top: 140px
        font-family: 'roboto-regular', sans-serif

.slick-oc-item
    
    .circle-slick-oc
        width: 160px
        height: 160px
        border-radius: 50%
        background-color: $primary
        img
            width: 130px
    p
        margin-top: 25px
        font-size: 15px
        color: #505d6c
        font-family: 'roboto-medium', sans-serif
        text-align: center

.slick-oc
    position: relative
    .nav-arrow
        display: flex
        justify-content: center
        align-items: center
        background-color: $primary
        width: 30px
        height: 30px
        box-shadow: none
        border: none
        padding: .5em
        border-radius: 50%
        padding: .5em
        position: absolute
        top: calc( 50% - 15px )
        z-index: 2
        outline: none !important
        img
            width: 90%
        &.nav-right
            right: 0
        &.nav-left
            left: 0

.slick-dots
    display: flex
    justify-content: center
    align-items: center
    li
        width: 10px
        height: 10px
        margin: 0 .3em
        font-size: 27px
        color: #dfe4e7
        cursor: pointer
    .slick-active
        color: $primary
    button
        display: none
            