#que-es-concesion
    img
        max-width: 120px
    p
        font-family: "roboto-regular", sans-serif

#ani-concesion
    .box-yellow
        width: 250px
        height: 300px
        z-index: 1
    .img-ani
        z-index: 3
        img
            width: 90%
            margin-top: 50px
            margin-left: 50px  
    .img-rigth
        width: 120px
        align-items: center
    h2
        color: $secondary
        font-size: 40px
    p
        font-family: 'roboto-regular', sans-serif
    .line-yellow
        margin-top: 230px

#ocensa-concesion
    .left-img
        width: 120px
        align-items: center
    h2
        color: $secondary
        font-size: 40px
    .line-yellow
        margin-top: 135px
    p
        font-family: 'roboto-regular', sans-serif
    .img-right
        width: 90%
        margin-left: 30px
        
#conport-concesion
    height: 1110px
    .line-white
        height: 2px
        width: 75px
        margin-top: 130px
    .left-img
        width: 120px
        align-items: center
    h2
        color: $secondary
        font-size: 40px
    p
        color: #505d6c
    .cont-right
        margin: 38px 0 36px
        padding: 0px 24px 80px 76px
        .text-right
            margin-top: 60px
        ul
            list-style: none
            li
                color: #505d6c
                font-weight: 500
                font-family: 'roboto-bold'
                &::before
                    content: '•'
                    color: white
                    font-size: 20pt
                    margin-right: .4em
                    display: inline-block
    .cont-down
        bottom: 0
        .img-down 
            width: 95%
            left: 0
            top: -100px
    .info-down
        margin-top: 0
        margin-left: 500px
        top: 350px
        .oc-circle
            z-index: 3
            top: 15px
        p
            color: white
            font-size: 30px
            font-family: 'roboto-regular', sans-serif
            width: 630px
            height: 330px
            background-color: $secondary
            padding: 60px
            line-height: 1.1em
            position: absolute
   
#amb-concesion
    margin-top: 120px
    .line-yellow
        margin-top: 200px
    h2
        color: $secondary
        font-size: 40px
    .left-img
        width: 120px
        align-items: center
    p
        margin-top: 140px
        font-family: 'roboto-regular', sans-serif

.slick-oc-item
    p
        margin-top: 1.5em
    .circle-slick-oc
        width: 160px
        height: 160px
        border-radius: 50%
        background-color: $primary
        img
            width: 130px
        p
            margin-top: 25px
            font-size: 15px
            color: #505d6c
            font-family: 'roboto-medium', sans-serif
            text-align: center

@media screen and (max-width: 480px)
    #que-es-concesion
        .line-yellow
            margin-top: 150px
        .responsive-ajustes
            margin-top: -120px
    #ani-concesion
        .line-yellow
            margin-top: 150px
        .responsive-ajustes
            margin-top: -120px
    #ocensa-concesion
        margin-top: -4em
        .line-yellow
            margin-top: 150px
        .responsive-ajustes
            margin-top: -120px !important
    #conport-concesion
        p
            padding: 2em
        li
            padding: .5em .5em .5em 2em
        .line-yellow
            margin-top: 150px
        .responsive-ajustes
            margin-top: -120px !important
            margin-bottom: -80px
        .cont-right
            margin: 0
            padding: 0
            .text-left
                padding: 2em
                margin-bottom: -50px
        .cont-down
            width: 90%
            left: 30px
            position: relative
            top: 0
            .img-down
                width: 94% !important
                margin-top: 85px 
        .down-responsive
            left: -520px !important
            margin-top: -230px
            .oc-circle
                z-index: 3
                top: 15px
            p
                width: 330px
                height: 255px
                font-size: 20px
                padding: 35px 35px
    #amb-concesion
        .line-yellow
            margin-top: 380px
        .responsive-ajustes
            margin-top: -125px !important
        .responsive-ajustes-1
            margin-top: -100px

    #oc-carousel-concesion
        .slick-oc
            p
                margin-top: 1.5em
            .slick-arrow
                top: 0
            .nav-right
                right: 0 !important
            .nav-left
                left: 0 !important