body
    overflow-x: hidden
    
h1, h2, h3
    font-family: "cabin-regular", sans-serif

h5, h6
    font-family: "roboto-bold", sans-serif

p
    font-family: 'roboto-medium', sans-serif

/***************** RESET BOOTSTRAP CLASSES ********************/

.container-fluid
    max-width: 1850px !important

.btn-secondary
    border-radius: 50px
    font-family: 'roboto-regular', sans-serif
    &:hover
        background-color: $primary
        border-color: $primary

.btn
    outline: none !important
    &:focus 
        outline: none !important
    &:active
        outline: none !important


/***************** HELP CLASSES ********************/
.padding-section
    padding: 4em 0

.oc-icon-section
    width: 45%
    max-width: 120px
    margin-left: -13px

// Text
.oc-roboto-light
    font-family: 'roboto-light', sans-serif

strong
    font-family: 'roboto-bold', sans-serif

.oc-subtitle
    color: $secondary
    font-size: 2.4em

.oc-title-style-2
    color: $secondary
    font-family: 'roboto-bold', sans-serif

.oc-text-color-dark
    color: #000

// Intro
.oc-intro
    &__icon
        width: 120px
    &__title
        color: white

.oc-intro-hero
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 80vh
    .container
        height: 100%
        .row
            height: 100%
            align-items: center
    &__title
        position: relative
        color: white
        font-size: 80px
        font-family: 'roboto-bold', sans-serif
        text-shadow: 2px 2px 6px rgb(0 0 0 / 20%)

// Box icon & text
.oc-line-title
    position: relative
    &::before
        content: ''
        position: absolute
        left: -85px
        width: 70px
        height: 3px
        bottom: 9px
    &.line-green
        &::before
            background-color: $primary
    &.line-white
        &::before
            background-color: white

.oc-padding-title
    padding-left: 80px

// Scrollbar
.scrollbar
    &::-webkit-scrollbar
        height: 4px
    &::-webkit-scrollbar-track 
        border-radius: 10px
    &::-webkit-scrollbar-thumb 
        border-radius: 10px
        background: $primary
    &-vertical
        &::-webkit-scrollbar
            width: 5px

.oc-h-100
    height: 100%


// Buttons & Links
.link-style-2
    position: relative
    transition: all .4s
    &::before
        content: ''
        position: absolute
        bottom: 0
        left: 50%
        height: 2px
        background: $success
        width: 0
        transition: width 0.3s ease 0s, left 0.3s ease 0s
    &:hover
        &::before
            width: 100%
            left: 0

.button-style-1
    span
        font-family: "roboto-bold"
        color: #505d6c
        margin-right: -10px
        position: relative
        z-index: 2
    button
        background: white
        transition: all .4s
        &::before
            content: ''
            width: 20%
            height: 25px
            background: white
            top: calc( 50% - 12.5px )
            left: -5%
            position: absolute
        img
            width: 12px
    &:hover
        text-decoration: none
        button
            transform: scale(1.2)
    &.style-more
        span
            color: $secondary
        button
            border-color: $primary
            color: $secondary !important

.oc-button-arrow
    display: inline-block
    span
        font-family: "roboto-regular", sans-serif
        display: inline-block
        margin-left: .5em
    img
        width: 45px
    &:hover
        text-decoration: none

.oc-button-down
    width: 35px 
    height: 35px
    display: inline-block
    img
        width: 100%
        height: 100%

// Background image
.oc-bg-image
    background-size: cover
    background-repeat: no-repeat

// Background colors
.oc-bg
    &-gray
        background-color: #f5f5f5
    &-yellow
        background-color: $yellow-co
    &-turq
        background-color: $turquoise-co
    &-green
        background-color: $primary


/***************** ACCORDION CUSTOM ********************/

.oc-accordion
    .card-header
        background-color: white
        .oc-title-icon
            width: 100px
            margin-right: 20px
    button, a
        font-size: .8em
        outline: 0px !important
        text-decoration: none !important
        &:hover
            text-decoration: none
    .oc-tab-icon
        cursor: pointer
        img
            width: 50px
        &__date
            color: #95A6B1
            font-size: .7em
            font-family: "roboto-regular", sans-serif

.oc-button-style-2
    display: inline-flex
    align-items: center
    span
        display: inline-block
        margin-left: .5em
        font-family: "roboto-regular", sans-serif
    &:hover
        text-decoration: none !important
    button
        width: 45px
        height: 45px
        border: 2px solid black
        background: transparent
        display: inline-flex
        align-items: center
        justify-content: center
        border-radius: 50%
        position: relative
        transition: $tr
        &::before
            content: ''
            position: absolute
            width: 10px
            height: 20px
            left: -5px
            transition: $tr
        &.border-green
            border-color: $primary
            &:hover
                background-color: $primary
                &::before
                    width: 0
        &.border-white
            border-color: white
            &:hover
                background-color: white
                &::before
                    width: 0
        &.before-turq
            &::before
                background-color: $turquoise-co
        &.before-white
            &::before
                background-color: white
        &.before-yellow
            &::before
                background-color: $yellow-co
        &.before-up
            &::before
                top: -5px
                left: calc( 50% - 12.5px )
                width: 25px
                height: 10px
            img
                width: 12px
            &:hover
                &::before
                    width: 25px
                    height: 0
        img
            width: 20px

// Responsive mobile

@media (max-width: 480px)
    .oc-intro-hero
        &__title
            font-size: 40px
            position: relative
    .padding-section
        padding: 2em 0

    .oc-line-title
        &::before
            top: 105%
            left: 0
            bottom: -5px !important
    .oc-padding-title
        padding: 1em

    .oc-subtitle
        text-align: left

// Responsive tablet

@media (min-width: 480px) and (max-width: 769px)
    .oc-line-title
        margin-bottom: 1em
        &::before
            left: 0
            top: 115%
            bottom: -15px !important    

    .oc-intro-hero
        height: 50vh

    .oc-padding-title
        padding: 1em
