h1, h2, h3
    font-family: "roboto-regular", sans-serif

h5, h6
    font-family: "roboto-bold", sans-serif

p
    font-family: "roboto-bold", sans-serif

.line-yellow
    display: inline-block
    height: 2px
    width: 75px
    color: $primary
    border: none
    background-color: $primary

.padding-section
    padding: 100px

.line-white
    display: inline-block
    height: 2px
    width: 50px
    color: $primary
    border: none
    background-color: white
