#oc-home-decisiones
    .logo-home
        width: 240px
        left: calc( 40% - 120px )
        top: 15%
    &.oc-intro-hero
        background-color: $secondary
        .img-header
            img
                width: 550px
        h2
            font-size: 75px
            color: white
            font-family: "roboto-light", sans-serif
            span
                font-family: "roboto-bold"
        .oc-button-down
            margin-bottom: 30px

#oc-home-decisiones-2
    p
        font-family: "roboto-light", sans-serif

#oc-home-decisiones-3
    background-color: #EEF1F3
    .text-decisiones-3
        color: #24A31A
        font-family: "cabin-bold", sans-serif
    .lineamientos-icon
        img
            width: 150px
        p
            font-family: "roboto-regular", sans-serif
            color: $secondary

#oc-home-decisiones-4
    .info-decisiones
        img
            width: 40px

#oc-home-decisiones-5
    background-color: $yellow-co

#oc-home-decisiones-6
    .oc-listado-ok
        li
            margin-bottom: 1em
        p
            font-family: "roboto-light", sans-serif
        img
            margin-right: .5em
            width: 18px
            height: 18px

#oc-home-decisiones-7
    h2
        color: #24A31A
        font-family: "cabin-bold", sans-serif
    #oc-accordion-home
        button
            text-decoration: none
            .hover-accordion
                background-color: #24A31A
                color: white
        span
            font-size: 1.5em
            font-family: "roboto-light", sans-serif
            color: $secondary
            display: inline-flex
            align-items: center
            justify-content: center
            margin-right: 1.5em
            width: 100px
            height: 100px
            border: solid 2px #24A31A
            border-radius: 50%
            transition: all .4s
            &:hover
                background-color: #24A31A
                color: white
        .card-header
            background-color: white
        .card
            border: none !important
            border-bottom: 2px solid #707070

#oc-home-decisiones-8
    .oc-circle-icon
        width: 400px
        height: 400px
    .circle-yellow
        background-color: $yellow-co