#tlu2-banner
    .oc-image-banner
        width: 70%
    .oc-box-yellow
        height: 350px
        margin-top: -240px

#futuro-tlu2
    .slick-dots
        justify-content: flex-end
        margin-top: 1em
        li
            color: transparent
            border: 2px solid white
            border-radius: 50%
            width: 13px
            height: 13px
            font-size: 0
            margin: 0px 10px
            &.slick-active
                background-color: white
    .oc-box
        width: 262px
        height: 301px
        position: absolute
        top: 35%
        right: -60px
        z-index: -1