{{!-- Back-to-top --}}
<div class="oc-back-to-top d-flex justify-content-end">
    <a href="#" class="button-style-1 mr-2">
        <button href="#" class="oc-back-to-top__button">
            <img src="./../img/icon_subir_azul.svg" alt="">
        </button>
    </a>
</div>

{{!-- Footer --}}
<footer class="oc-footer py-5">
    <div class="oc-footer__pictogram text-center">
        <img src="{{image-footer}}" alt="">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 oc-footer__left px-5">
                <h3 class="mb-3">Encuentre aquí lo que busca</h3>
                <form action="">
                    <input type="text" class="form-control mb-5 oc-input-search" placeholder="Buscar">
                </form>

                <div class="oc-more-info mb-5">
                    <h3 class="mb-3">¿Necesita más información?</h3>
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6">
                            <p class="m-0">Queremos ayudarlo y estamos listos para hacerlo desde el otro lado de la pantalla.</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <a href="#" class="btn btn-success">Contáctenos <img src="./../img/icon-flecha-izq-blanca.svg" alt="" width="20px" class="ml-2"></a>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex align-items-center mb-4 justify-content-between">
                    <ul class="nav nav-social">
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_1_facebook.svg" alt=""></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_2_instagram.svg" alt=""></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_3_youtube.svg" alt=""></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_4_twitter.svg" alt=""></a></li>
                    </ul>

                    <ul class="nav nav-secondary justify-content-between">
                        <li class="nav-item"><a href="#" class="nav-link link-style-2">Mapa del sitio</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-style-2">Términos y condiciones</a></li>
                        <li class="nav-item"><a href="#" class="nav-link link-style-2">Política de protección de datos</a></li>
                    </ul>
                </div>

                <div class="oc-copyright d-flex justify-content-around">
                    <p class="m-0">© 2021 OCENSA, Todos los derechos reservados</p>
                    <p class="m-0">Diseño y programación <a href="#">Ekon7.com</a></p>
                </div>
            </div>
            <div class="col-12 col-md-4 oc-footer__right px-5">
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="#" class="nav-link link-style-2">Nuestra compañía</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-style-2">Nuestra actividad</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-style-2">Accionistas e inversionistas</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-style-2">Ética y cumplimiento</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-style-2">Compromiso con el ciudadano</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-style-2">Trabaje con nosotros</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-style-2">Contáctenos</a></li>
                </ul>

                <img src="./../img/isotipo-ocensa.svg" alt="" class="oc-footer__isotipo px-3 mt-4">
            </div>
        </div>
    </div>
</footer>
</body>
</html>