<footer class="oc-footer py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8">
                <h3>Encuentre aquí lo que busca</h3>
                <input type="text" class="form-control mb-4">

                <h3>¿Necesita más información?</h3>
                <div class="row align-items-center">
                    <div class="col-12 col-md-8">
                        <p class="m-0">Queremos ayudarlo y estamos listos para hacerlo desde el otro lado de la pantalla.</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <a href="#" class="btn btn-success">Contáctenos</a>
                    </div>
                </div>
                
                <div class="d-flex">
                    <ul class="nav nav-social">
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_1_facebook.svg" alt=""></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_2_instagram.svg" alt=""></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_3_youtube.svg" alt=""></a></li>
                        <li class="nav-item"><a href="#" class="nav-link"><img src="./../img/icon_footer_4_twitter.svg" alt=""></a></li>
                    </ul>

                    <ul class="nav nav-secondary">
                        <li class="nav-item"><a href="#" class="nav-link">Mapa del sitio</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Términos y condiciones</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Política de protección de datos</a></li>
                    </ul>
                </div>

                <div class="oc-copyright d-flex justify-content-around">
                    <p class="m-0">© 2021 OCENSA, Todos los derechos reservados</p>
                    <p class="m-0">Diseño y programación <a href="#">Ekon7.com</a></p>
                </div>
            </div>
            <div class="col-12 col-md-4">

            </div>
        </div>
    </div>
</footer>
</body>
</html>