    {{!-- Back-to-top --}}
    <a class="oc-back-to-top" href="#top">
        <img src="img/icon-back-to-top.svg" alt="">
    </a>

    <footer>
        <div class="container py-5 text-center">
            <h5>Footer</h5>
        </div>
    </footer>
</body>
</html>