<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
</head>

<body class="page-{{body-class}}">
    {{!-- Ancla --}}
    <div id="top"></div>

    <header class="p-5 text-center">
        <h5>Header</h5>
    </header>