<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
</head>
<body class="page-{{body-class}}">
    <header class="oc-header py-3">
        <div class="container-fluid">
            <div class="row justify-content-between text-center align-items-center">
                {{!-- Box button menu toggle --}}
                <div class="col">1</div>
                
                {{!-- Box Brand --}}
                <div class="col col-md-10">
                    <a href="#"><img src="./../img/logo-ocensa.svg" alt="" class="oc-header__brand"></a>
                </div>

                {{!-- Box search menu --}}
                <div class="col">
                    <form action="">
                        <input type="text">
                    </form>
                </div>
            </div>
        </div>
    </header>
    
