{{>partials/header title="Agenda anual" body-class="agenda-anual"}}

<section class="oc-intro oc-bg-turq">
    <div class="container">
        <div class="d-flex justify-content-center py-5 align-items-center" data-aos="zoom-in" data-aos-duration="2000">
            <img src="img/icon_ocensa_gobierno_corporativo__agenda_anual.svg" alt="" class="oc-intro__icon">
            <h1 class="oc-intro__title text-secondary">Agenda anual</h1>
        </div>
    </div>
</section>

{{>partials/bottom-header}}


<section class="padding-section" id="agenda-anual-tabla">
    <div class="container">
        <div class="table-responsive" data-aos="fade-up" data-aos-duration="1500">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="th-title">PROCESO</span>
                            <img src="img/arrow-down-table.svg" alt="">
                        </th>
                        <th scope="col">
                            <span class="th-title">TEMÁTICA</span>
                            <img src="img/arrow-down-table.svg" alt="">
                        </th>
                        <th scope="col">
                            <span class="th-title">PERIODICIDAD</span>
                            <img src="img/arrow-down-table.svg" alt="">
                        </th>
                        <th scope="col">
                            <span class="th-title">NATURALEZA</span>
                            <img src="img/arrow-down-table.svg" alt="">
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody-agenda">
                    {{!-- Contenido Javascript --}}
                </tbody>
            </table>
        </div>
    </div>
</section>




{{>partials/footer}}