{{!-- Importando Header --}}
{{>partials/header title="Concesión Portuaria" body-class="concesion-portuaria"}}

<section id="intro-hero-concesion" style="background-image: url('./../img/imag_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Concesión<br> Portuaria</h2>
            </div>
            <div class="col-12 col-md-6">
            </div>
        </div>
    </div>
</section>

<section id="que-es-concesion" class="padding-section">
    <div class="container">
        <div class="row">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-6">
                <div class="row align-items-end">
                    <div class="col-12 col-md-4">
                        <hr class="line-yellow">
                    </div>
                    <div class="col-12 col-md-8">
                        <img src="./../img/05-icon_ocenza_con_potuaria_que_es_informacion_financiera_reportes.svg" alt="">
                        <div class="">
                            <h2 class="mt-4">¿Qué es la Concesión Portuaria?</h2>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Col derecha --}}
            <div class="col-12 col-md-6">
                <p>La importancia de la construcción de este puerto radica en lo siguiente:  de los pozos de Cusiana y Cupiagua, en Casanare, se extrae el petróleo que Ocensa transporta a través de un tubo que va enterrado y que atraviesa 45 municipios de 6 departamentos. Los diferentes crudos (pesados, livianos y mezcla) se impulsan mediante una presión y una velocidad controladas desde un centro de mando. En esta presión juegan un papel muy importante las estaciones de bombeo y de almacenamiento, que son: Cusiana, Cupiagua, El Porvenir, Páez, Miraflores, La Belleza, Vasconia, Chiquillo, Caucasia, La Granjita y el Terminal de Coveñas.<br>

<br>Entonces, se necesitaba un lugar al que pudiera llegar ese petróleo que atraviesa el país, un lugar que permitiera almacenarlo. Esto con el fin de bombearlo por otro tubo submarino (de 12 kilómetros, de acero y protegido por concreto) hasta la Unidad de Carga de Tanqueros (TLU-2) o monoboya costa afuera, una de las tres estructuras navales flotantes por medio de las cuales se exporta el crudo de Colombia, ubicada en el Golfo de Morrosquillo.<br>

<br>El petróleo culmina su recorrido debajo de la TLU-2, en un punto de válvulas y tuberías que lo redirecciona a través de mangueras, conocido como PLEM; desde allí, y mediante otras mangueras, pero flotantes, inyectamos el crudo a los buquetanques (con capacidad de hasta 2 millones de barriles) provenientes de todo el mundo.</p>
            </div>
        </div>
    </div>
</section>
<section id="ani-concesion" class="padding-section">
    <div class="container">
        <div class="row">
             {{!-- Col izquierda --}}
            <div class="col-12 col-md-7 position-relative">
                <div class="box-yellow bg-primary position-absolute">
                </div>
                <div class="img-ani position-relative">
                    <img src="./../img/imag_2.jpg" alt="" class="img-fluid ">
                </div>
            </div>
            {{!-- Col derecha --}}
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <hr class="line-yellow">
                    </div>
                <div class="col-12 col-md-8">
                    <img src="./../img/06-icon_ocenza_con_potuaria_ani_informacion_financiera_reportes.svg" alt="" class="img-rigth">
                    <h2>ANI: uno de los actores</h2>
                    <p>La Agencia Nacional de Infraestructura (ANI), antes conocida como Superintendencia General de Puertos, es estatal, de naturaleza especial y está adscrita al Ministerio de Transporte. 

Esta entidad planea, coordina, estructura, contrata, ejecuta, administra y evalúa proyectos de concesiones “para el diseño, construcción, mantenimiento, operación, administración y/o explotación de la infraestructura pública de transporte”, según determine el Gobierno Nacional.</p>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
{{!-- Importando Footer --}}
{{>partials/footer}}