{{!-- Importando Header --}}
{{>partials/header title="Concesión Portuaria" body-class="concesion-portuaria"}}

<section id="intro-hero-concesion" class="oc-intro-hero" style="background-image: url('img/imag_1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="oc-intro-hero__title" data-aos="fade-right" data-aos-duration="3000">Concesión<br> Portuaria</h1>
            </div>
            <div class="col-12 col-md-6">
            </div>
        </div>
    </div>
</section>

<section id="que-es-concesion" class="padding-section">
    <div class="container">
        <div class="row">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-6">
                <div class="row align-items-end">
                    <div class="col-12 col-md-4 text-right">
                        <hr class="line-yellow">
                    </div>
                    <div class="col-12 col-md-8 responsive-ajustes" data-aos="fade-right" data-aos-duration="1000">
                        <img src="img/05-icon_ocenza_con_potuaria_que_es_informacion_financiera_reportes.svg" alt="" class="oc-icon-section" data-aos="zoom-in" data-aos-duration="2000">
                        <h2 class="mt-4 oc-subtitle">¿Qué es la Concesión Portuaria?</h2>
                    </div>
                </div>
            </div>

            {{!-- Col derecha --}}
            <div class="col-12 col-md-6 oc-text-color-dark" data-aos="fade-left" data-aos-duration="1000">
                <p>La importancia de la construcción de este puerto radica en lo siguiente: de los pozos de Cusiana y
                    Cupiagua, en Casanare, se extrae el petróleo que Ocensa transporta a través de un tubo que va
                    enterrado y que atraviesa 45 municipios de 6 departamentos. Los diferentes crudos (pesados, livianos
                    y mezcla) se impulsan mediante una presión y una velocidad controladas desde un centro de mando. En
                    esta presión juegan un papel muy importante las estaciones de bombeo y de almacenamiento, que son:
                    Cusiana, Cupiagua, El Porvenir, Páez, Miraflores, La Belleza, Vasconia, Chiquillo, Caucasia, La
                    Granjita y el Terminal de Coveñas.<br>

                    <br>Entonces, se necesitaba un lugar al que pudiera llegar ese petróleo que atraviesa el país, un
                    lugar que permitiera almacenarlo. Esto con el fin de bombearlo por otro tubo submarino (de 12
                    kilómetros, de acero y protegido por concreto) hasta la Unidad de Carga de Tanqueros (TLU-2) o
                    monoboya costa afuera, una de las tres estructuras navales flotantes por medio de las cuales se
                    exporta el crudo de Colombia, ubicada en el Golfo de Morrosquillo.<br>

                    <br>El petróleo culmina su recorrido debajo de la TLU-2, en un punto de válvulas y tuberías que lo
                    redirecciona a través de mangueras, conocido como PLEM; desde allí, y mediante otras mangueras, pero
                    flotantes, inyectamos el crudo a los buquetanques (con capacidad de hasta 2 millones de barriles)
                    provenientes de todo el mundo.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="ani-concesion" class="padding-section">
    <div class="container">
        <div class="row">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-7 position-relative">
                <div class="box-yellow bg-primary position-absolute" data-aos="flip-right" data-aos-duration="1000">
                </div>
                <div class="img-ani position-relative">
                    <img src="img/imag_2.jpg" alt="" class="img-fluid " data-aos="flip-left" data-aos-duration="1000">
                </div>
            </div>
            {{!-- Col derecha --}}
            <div class="col-12 col-md-5" data-aos="fade-left" data-aos-duration="1000">
                <div class="row">
                    <div class="col-12 col-md-4 text-right">
                        <hr class="line-yellow">
                    </div>
                    <div class="col-12 col-md-8 responsive-ajustes">
                        <img src="img/06-icon_ocenza_con_potuaria_ani_informacion_financiera_reportes.svg" alt=""
                            class="img-rigth" data-aos="zoom-in" data-aos-duration="2000">
                        <h2 class="mt-4 oc-subtitle">ANI: uno de los actores</h2>
                        <p class="oc-text-color-dark">La Agencia Nacional de Infraestructura (ANI), antes conocida como Superintendencia General de
                            Puertos, es estatal, de naturaleza especial y está adscrita al Ministerio de Transporte.
                            <br><br>
                            Esta entidad planea, coordina, estructura, contrata, ejecuta, administra y evalúa proyectos
                            de concesiones “para el diseño, construcción, mantenimiento, operación, administración y/o
                            explotación de la infraestructura pública de transporte”, según determine el Gobierno
                            Nacional.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="ocensa-concesion" class="padding-section">
    <div class="container">
        <div class="row">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-6" data-aos="fade-right" data-aos-duration="1000">
                <div class="row">
                    <div class="col-12 col-md-4 text-right">
                        <hr class="line-yellow">
                    </div>
                    <div class="col-12 col-md-8 mt-5 responsive-ajustes">
                        <img src="img/07-icon_ocenza_con_potuaria_ocensayani_informacion_financiera_reportes.svg"
                            alt="" class="left-img" data-aos="zoom-in" data-aos-duration="2000">
                        <h2 class="mt-4 oc-subtitle">OCENSA y la ANI</h2>
                        <p class="oc-text-color-dark">El primer contrato entre la ANI y Ocensa se firmó el 6 de diciembre de 1996.

                            ¿Para qué? Para construir y operar una terminal petrolera costa afuera que prestara el
                            servicio de cargue de crudo de exportación.</p>
                    </div>
                </div>
            </div>
            {{!-- Col derecha --}}
            <div class="col-12 col-md-6" data-aos="flip-right" data-aos-duration="1000">
                <img src="img/imag_3.jpg" alt="" class="img-right">
            </div>
        </div>
    </div>
</section>
<section id="conport-concesion" class="bg-primary">
    <div class="container padding-section">
        <div class="row align-items-end justify-content-between">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-6 px-5 px-md-0">
                <div class="row">
                    <div class="col-12 col-md-4 text-left text-md-right">
                        <hr class="line-white">
                    </div>
                    <div class="col-12 col-md-8 responsive-ajustes">
                        <img src="img/08-icon_ocenza_con_potuaria_que_es_comport_informacion_financiera_reportes copia.svg"
                            alt="" class="left-img">
                        <h2 class="mt-4 oc-subtitle">Qué es Conport</h2>
                        <p class="oc-text-color-dark">Ese contrato de 1996 entre Ocensa y la ANI fue renovado el 5 de diciembre de 2016, y estará
                            vigente hasta el 2036.
                            De este se desprende el proyecto Concesión Portuaria (Conport), que contempla, entre otros
                            aspectos, modernizar y mejorar la infraestructura de la Terminal de Coveñas.<br>

                            <br>En 20 años se invertirán 108 millones de dólares.
                        </p>
                    </div>
                </div>
            </div>
            {{!-- Col derecha --}}
            <div class="col-12 col-md-5 mt-0 mt-md-5 cont-right">
                <p class="text-left oc-text-color-dark px-5 px-md-0">En el marco de Conport, pero principalmente por el compromiso que tenemos con
                    nuestros
                    colaboradores, comunidades, medioambiente, clientes y autoridades, emprendimos un trabajo de
                    alta ingeniería que consta de tres partes fundamentales:</p>
                <ul class="pl-2 oc-text-color-dark">
                    <li>Reemplazar la TLU-2 por una nueva, la anterior cumplió su ciclo de vida.</li>
                    <li>Instalar otras mangueras en el PLEM.</li>
                    <li>Instalar un nuevo sistema de fibra óptica que mejorará las comunicaciones y el sistema de
                        alertas que garantiza a su vez la integridad del mismo oleoducto submarino.</li>
                </ul>
            </div>
        </div>
    </div>
    {{!-- Col abajo --}}
    <div class="row position-relative">
        <div class="col-12 col-md-10">
            <img src="img/imag_4.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-md-6 col-lg-5 p-5 py-3 info-down position-absolute">
            <div class="oc-circle position-absolute">
            </div>
            <p>Trabajamos para garantizar una ejecución responsable y segura de las operaciones, priorizando el cuidado por la vida y el medioambiente. El proyecto Conport se ejecuta siguiendo los términos de la licencia ambiental que lo cobija.</p>
        </div>
    </div>
</section>
<section id="amb-concesion" class="padding-section">
    <div class="container">
        <div class="row align-items-end">
            {{!-- Col izquierda --}}
            <div class="col-12 col-md-6">
                <div class="row align-items-end">
                    <div class="col-12 col-md-4 text-right">
                        <hr class="line-yellow">
                    </div>
                    <div class="col-12 col-md-8 mt-5 responsive-ajustes">
                        <img src="img/09-icon_ocenza_con_potuaria_componente_ambiental_informacion_financiera_reportes.svg"
                            alt="" class="left-img">
                        <h2 class="mt-4 oc-subtitle">Componente ambiental, siempre presente</h2>
                    </div>
                </div>
            </div>
            {{!-- Col derecha --}}
            <div class="col-12 col-md-6 responsive-ajustes-1">
                <p class="mb-0 oc-text-color-dark">Para desarrollar nuestra actividad de transporte de petróleo siempre hemos necesitado de una licencia ambiental. La que tenemos actualmente, otorgada por la ANLA, nos permite operar el oleoducto Cusiana-Coveñas y los kilómetros en mar hasta la TLU-2.<br>

<br>A continuación, aspectos ambientales importantes relacionados con el cambio de la TLU-2 o monoboya:</p>
            </div>
        </div>
    </div>
</section>
<section class="padding-section mb-5" id="oc-carousel-concesion">
    <div class="container">
        <div class="slick-oc text-center oc-text-color-dark" data-slick='{"slidesToShow": 1, "dots": true}'>
            {{!-- Item 1 --}}
            <div class="slick-oc-item">
                <div class="row">
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/10-icon_ocenza_con_potuaria_componente_los_requerimientos_informacion_financiera_reportes copia.svg" alt="">
                        </div>
                        <p>Los requerimientos ambientales del proyecto Conport están enmarcados en la licencia. Esta contempla cerca de 200 controles y medidas de manejo para mitigar incidentes.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/11-icon_ocenza_con_potuaria_componente_una_licencia_informacion_financiera_reportes copia.svg" alt="">
                        </div>
                        <p>Una licencia ambiental es una autorización para ejecutar una actividad, obra o proyecto que pudiera, eventualmente, deteriorar los recursos renovables naturales del país.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/12-icon_ocenza_con_potuaria_componente_el_cambio_informacion_financiera_reportes copia.svg" alt="">
                        </div>
                        <p>El cambio de la monoboya es una reposición de equipo. Está en la licencia ambiental como una de las actividades de mantenimiento.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/19-icon_ocenza_con_potuaria_componente_en_la_planeacion_informacion_financiera_reportes copia.svg" alt="">
                        </div>
                        <p>En la planeación hemos tenido interlocución con: Autoridad Nacional de Licencias Ambientales (ANLA), Corporación Autónoma Regional de Sucre (Carsucre), Corporación Autónoma Regional de los Valles del Sinú y del San Jorge (CVS) y Dirección General Marítima (Dimar).</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/15-icon_ocenza_con_potuaria_componente_que_se_haria_informacion_financiera_reportes copia.svg" alt="">
                        </div>
                        <p>Por cultura, siempre garantizamos la salud, la seguridad, la protección y el medioambiente en todas nuestras áreas, alianzas, convenios y contratos que suscribimos.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/21-icon_ocenza_con_potuaria_componente_la_operacion_informacion_financiera_reportes copia.svg" alt="">
                        </div>
                        <p>La operación se hará en el Golfo de Morrosquillo, que de oeste a este tiene 80 km. Influye en los municipios de Coveñas, Tolú, Toluviejo, San Antonio de Palmito y San Onofre (Sucre), y San Antero, San Bernardo del Viento y Moñitos (Córdoba).</p>
                    </div>
                </div>
            </div>
            {{!-- Item 2 --}}
            <div class="slick-oc-item">
                <div class="row">
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/13-icon_ocenza_con_potuaria_componente_el_impacto_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>El impacto más crítico sería el derrame de petróleo asociado a la desconexión del PLEM, las mangueras y el retiro de la monoboya.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/14-icon_ocenza_con_potuaria_componente_aunque_reemplazo_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>Aunque el reemplazo de las mangueras es complejo, es a la vez rutinario dentro de las actividades de mantenimiento.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/15-icon_ocenza_con_potuaria_componente_que_se_haria_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>¿Qué se haría si se presenta un derrame? El contratista (con certificación ISO 14001) activará su plan de contingencia, estructurado con base en modelaciones y el análisis de riesgo.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="./img/icono-faltante.svg" alt="">
                        </div>
                        <p>Si un eventual incidente supera la capacidad operativa del contratista, Ocensa activaría su propio plan de contingencia.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/23-icon_ocenza_con_potuaria_componente_la_intervencion_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>La intervención generará residuos, entre estos, aparatos eléctricos que serán manejados de acuerdo con la reglamentación ambiental vigente.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/24-icon_ocenza_con_potuaria_componente_a_las_enbarcaciones_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>A las embarcaciones que allí trabajarán les aplicaremos un plan de manejo, pues estas también producen efectos ambientales como: ruido y aguas residuales, entre otros.</p>
                    </div>
                </div>
            </div>
            {{!-- Item 3 --}}
            <div class="slick-oc-item">
                <div class="row">
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/16-icon_ocenza_con_potuaria_componente_el_agua_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>El agua que se usará para drenar el crudo durante la operación debe ser licenciada por el organismo ambiental competente.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/17-icon_ocenza_con_potuaria_componente_el_26_noviembre_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>El 26 de noviembre de 2020 hicimos un simulacro de nivel 3, o sea, nacional. Participaron: Cuerpo de Bomberos, Defensa Civil, Cruz Roja, Unidad Nacional para la Gestión del Riesgo de Desastres, Sistema Nacional de Gestión del Riesgo de Desastres.</p>
                    </div>
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/18-icon_ocenza_con_potuaria_componente_con_el_tendido_informacion_financiera_reportes%20copia.svg" alt="">
                        </div>
                        <p>Con el tendido de la fibra óptica obtuvimos una exención de IVA, porque es un monitoreo de variables ambientales contemplado en el Estatuto Tributario. Un logro financiero para la compañía.</p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 col-md-4 justify-content-center px-5">
                        <div class="circle-slick-oc d-flex justify-content-center align-items-center m-auto">
                            <img src="img/25-icon_ocenza_con_potuaria_componente_al-final_ocensa_informacion_financiera_reportes copia.svg" alt="">
                        </div>
                        <p>Al final, Ocensa presentará sus informes a la ANLA. Esta entidad verificará el cumplimiento normativo de la licencia. Entonces, se cerrará la operación desde lo ambiental.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- Importando Footer --}}
{{>partials/footer image-footer="./img/pictograma_ocensa_conport_footer_2.svg"}}