{{!-- Importando Header --}}
{{>partials/header title="Inicio" body-class="home"}}

<section id="oc-home-decisiones" class="oc-intro-hero position-relative">
    <img src="img/logo-ocensa-home.svg" alt="" class="position-absolute logo-home">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Instrumentos<br><span>para la toma<br>de decisiones</span></h2>
            </div>
            <div class="col-12 col-md-6 img-header">
                <img src="img/imag_ocensa_1_gobierno_corporativo_instrumento_toma_decisiones_mesa.svg" alt="">
            </div>
            <div class="col-12 text-center">
                <a href="#exampleAncle" class="oc-button-down">
                    <img src="img/flecha-blanca.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>

{{>partials/bottom-header}}

<section id="oc-home-decisiones-2" class="padding-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="img/imag_ocensa_2_gobierno_corporativo_instrumento_toma_decisiones_mesa.svg" alt="">
            </div>
            <div class="col-12 col-md-6">
                <p>El conocimiento y comprensión de las herramientas para la toma de decisiones, procura garantizar un
                    ambiente de Confianza y Transparencia, que permita mantener la Estabilidad, Sostenibilidad y la
                    Integridad del negocio.<br>
                    <br>
                    Las personas son un componente fundamental para que, a través del empoderamiento y la utilización de
                    estas herramientas se viabilice la toma de decisiones.
                </p>
            </div>
            <div class="col-12 text-center py-5">
                <a href="#exampleAncle" class="oc-button-down">
                    <img src="img/icon-arrow-down.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>

<section id="oc-home-decisiones-3" class="padding-section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-decisiones-3">Los lineamientos y condiciones para la toma<br> de decisiones en la
                    Compañía, están previstos<br> en las siguientes herramientas:</h2>
            </div>
            <div class="col-12">
                <div class="row text-center">
                    <div class="col-12 col-md-4 lineamientos-icon">
                        <img src="img/icon_ocensa_gobierno_corporativo__estatutos.svg" alt="">
                        <p>Estatutos</p>
                    </div>
                    <div class="col-12 col-md-4 lineamientos-icon">
                        <img src="img/icon_ocensa_gobierno_corporativo__codigo_buen_gobierno.svg" alt="">
                        <p>Codigo de Buen Gobierno</p>
                    </div>
                    <div class="col-12 col-md-4 lineamientos-icon">
                        <img src="img/icon_ocensa_gobierno_corporativo__modelo_organizacional.svg" alt="">
                        <p>Modelo Organizacional</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center py-5">
            <a href="#exampleAncle" class="oc-button-down">
                <img src="img/icon-arrow-down.svg" alt=""></a>
        </div>
    </div>
</section>

<section id="oc-home-decisiones-4" class="padding-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 oc-padding-title">
                <img src="img/icon_ocensa_gobierno_corporativo__estatutos.svg" alt="" class="oc-icon-section">
                <h2 class="oc-subtitle oc-line-title line-green">Estatutos</h2>
                <p>Son las normas acordadas por los accionistas para el funcionamiento de la Compañía.<br>
                    <br>
                    Contemplan, entre otros aspectos, las funciones de los órganos sociales, que son la Asamblea General
                    de Accionistas, la Junta Directiva, El Presidente y Revisores Fiscales.
                </p>
                <a href="#" class="oc-button-arrow">
                    <img src="img/boton_ocensa_gobierno_corporativo_descargar_verde_boton_descargar_inactivo.svg" alt="">
                    <span>Descargar PDF</span>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <img src="img/imag_ocensa_3_gobierno_corporativo_estatutos_mesa.svg" alt="">
            </div>
        </div>
        <div class="text-center py-5">
            <a href="#exampleAncle" class="oc-button-down">
                <img src="img/icon-arrow-down.svg" alt="">
            </a>
        </div>
    </div>
</section>

<section id="oc-home-decisiones-5" class="padding-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="img/imag_ocensa_4_gobierno_corporativo_codigo_buen_gobierno_mesa.svg" alt="">
            </div>
            <div class="col-12 col-md-6 oc-padding-title">
                <img src="img/icon_ocensa_gobierno_corporativo__codigo_buen_gobierno.svg" alt=""
                    class="oc-icon-section">
                <h2 class="oc-subtitle oc-line-title line-green">Código de buen<br> Gobierno</h2>
                <p>Integra las reglas de la administración de Ocensa y las mejores prácticas de Gobierno
                    Corporativo.<br>
                    <br>
                    Regula las funciones de los Comités de Junta Directiva.
                </p>
                <a href="#" class="oc-button-arrow">
                    <img src="img/boton_ocensa_gobierno_corporativo_descargar_verde_boton_descargar_inactivo.svg" alt="">
                    <span>Descargar PDF</span>
                </a>
            </div>
        </div>
        <div class="text-center py-5">
            <a href="#exampleAncle" class="oc-button-down">
                <img src="img/icon-arrow-down.svg" alt="">
            </a>
        </div>
    </div>
</section>

<section id="oc-home-decisiones-6" class="padding-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 oc-padding-title">
                <img src="img/icon_ocensa_gobierno_corporativo__modelo_organizacional.svg" alt=""
                    class="oc-icon-section">
                <h2 class="oc-subtitle oc-line-title line-green">Modelo<br> Organizacional</h2>
                <p>Es el conjunto de elementos que componen el diseño de la organización, cuyo principal articulador es
                    el esquema de procesos del cual se derivan: </p>
                <ul class="nav flex-column oc-listado-ok">
                    <li class="nav-item d-flex"><img src="img/icon_ok.svg" class="">
                        <p>La estructura</p>
                    </li>
                    <li class="nav-item d-flex"><img src="img/icon_ok.svg" class="">Cargos</li>
                    <li class="nav-item d-flex"><img src="img/icon_ok.svg" class="">
                        <p>Instancias de gobierno que faciliten la toma de decisiones dentro de los procesos</p>
                    </li>
                    <li class="nav-item d-flex"><img src="img/icon_ok.svg" class="">
                        <p>Gestión de información</p>
                    </li>
                    <li class="nav-item d-flex"><img src="img/icon_ok.svg" class="">
                        <p>Matriz de delegación</p>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <img src="img/imag_ocensa_5_gobierno_corporativo_modelo_organizacional_mesa.svg" alt="">
            </div>
        </div>
    </div>
</section>

<section id="oc-home-decisiones-7" class="padding-section">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-12">
                <h2>Las instancias de gobierno que<br> conforman el modelo organizacional<br> apalancan la gestión de la
                    Compañía:</h2>
            </div>
            <div class="col-12 col-md-6">
                <img src="img/imag_ocensa_8_gobierno_corporativo_ocensa.svg" alt="">
            </div>
            <div class="col-12 col-md-6">
                <div id="oc-accordion-home">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0 text-left">
                                <button class="btn btn-link hover-accordion" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <span>1</span>
                                    Comité
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#oc-accordion-home">
                            <div class="card-body">
                                <i style="font-style: italic; font-weight: bold;">Decisor:</i> atribuciones para toma de
                                decisiones sobre asuntos estratégicos, y/o relacionados con el cumplimiento de objetivos
                                y metas de la Compañía. Un Comité tendrá función decisoria, cuando así se haya
                                establecido en el respectivo proceso o en la matriz de delegación.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0 text-left">
                                <button class="btn btn-link collapsed hover-accordion" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <span>2</span>
                                    Consejo
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#oc-accordion-home">
                            <div class="card-body">
                                <i style="font-style: italic; font-weight: bold;">Asesor:</i> atribuciones para
                                asesorar, recomendar y/o hacer seguimiento, respecto de los temas de su conocimiento.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0 text-left">
                                <button class="btn btn-link collapsed hover-accordion" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <span>3</span>
                                    Foro
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#oc-accordion-home">
                            <div class="card-body">
                                <i style="font-style: italic; font-weight: bold;">Alineación:</i> instancia informativa,
                                de coordinación y/o seguimiento en temas estratégicos, técnicos, administrativos,
                                financieros y/o de interés para la Compañía por su relación con el cumplimiento de
                                objetivos y metas del negocio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-5">
            <a href="#" class="oc-button-arrow">
            <img src="img/oc-arrow-right-2.svg" alt="">
            <span>Ver Estándar Instancias de Gobierno</span>
        </a>
        </div>
    </div>
</section>

<section id="oc-home-decisiones-8" class="padding-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 ">
                <div
                    class="oc-circle-icon oc-bg-turq rounded-circle p-3 text-center d-flex flex-column justify-content-center align-items-center">
                    <img src="img/icon_ocensa_gobierno_corporativo__instancias_organizacionales.svg" alt=""
                        class="img-circle">
                    <h2 class="oc-subtitle">Instancias organizacionales</h2>
                    <a href="#" class="oc-button-arrow">
                        <img src="img/" alt="">
                        <span>+ Info</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div
                    class="oc-circle-icon oc-bg-yellow rounded-circle p-3 text-center d-flex flex-column justify-content-center align-items-center">
                    <img src="img/icon_ocensa_gobierno_corporativo__instancias_de_ley.svg" alt="" class="img-circle">
                    <h2 class="oc-subtitle">Instancias de ley, segmento y otras</h2>
                    <a href="#" class="oc-button-arrow">
                        <img src="img/" alt="">
                        <span>+ Info</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center py-5">
            <a href="#exampleAncle" class="oc-button-down">
                <img src="img/icon-arrow-down.svg" alt="">
            </a>
        </div>
    </div>
</section>

<section id="oc-home-decisiones-9" class="padding-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <img src="img/imag_ocensa_6_gobierno_corporativo_matriz_delegacion_autoridad_mesa.svg" alt="">
            </div>
            <div class="col-12 col-md-6 oc-padding-title">
                <img src="img/icon_ocensa_gobierno_corporativo__matriz_de_delegacion.svg" alt=""
                    class="oc-icon-section">
                <h2 class="oc-subtitle oc-line-title line-white">Matriz de delegación de autoridad</h2>
                <p>Refleja cómo el Representante Legal de la compañía, transfiere funciones a empleados de OCENSA. Éstas
                    funciones están enmarcadas en los macroprocesos organizacionales, así
                    como en las disposiciones descritas por los órganos de la sociedad.</p>
                <a href="#" class="oc-button-arrow">
                    <img src="img/boton_ocensa_gobierno_corporativo_descargar_blanco_boton_descargar_inactivo.svg" alt="">
                    <span>Descargar PDF</span>
                </a>
            </div>
        </div>
    </div>
</section>

{{!-- Importando Footer --}}
{{>partials/footer image-footer="img/pictograma_ocensa_inversionistas_accionistas_inversionistas.svg"}}