{{!-- Importando Header --}}
{{>partials/header title="Proyecto CONPORT" body-class="home"}}

<section class="oc-intro-hero" style="background-image: url('img/slider-home.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="oc-intro-hero__title">Proyecto<br>CONPORT</h1>
            </div>
            <div class="col-12 col-md-6">
            </div>
        </div>
    </div>
</section>

<section class="oc-retos container padding-section">
    <div class="row">
        <div class="col-12 col-md-6 oc-retos__cont-1">
            <div class="oc-retos__figure bg-primary">
            </div>
            <img src="img/retos-img.jpg" alt="" class="oc-retos__img">
        </div>
        <div class="col-12 col-md-6 oc-retos__cont-2">
            <img src="img/icon_ocenza_home_retos_que_nos_impulsan.svg" alt="" class="oc-retos__icon">
            <h2 class="oc-retos__title">Retos que nos<br>impulsan</h2>
            <p class="oc-retos__desc">Desde cuando nacimos como compañía, en 1994, año tras año hemos venido asumiendo retos de forma responsable con nuestros empleados, clientes, comunidades, autoridades y con el país.</p>
            <p class="oc-retos__desc">Ser la plataforma de transporte de petróleo más grande de Colombia (836 kilómetros bajo tierra y 12 en el mar) nos exige un alto grado de cumplimiento y eficiencia que beneficia la exportación nacional.</p>
            <p class="oc-retos__desc">Esos retos responden a lo contemplado en nuestra estrategia corporativa y a los contratos, alianzas y convenios adquiridos con los diversos actores del sector de los hidrocarburos, entre estos los entes que regulan la actividad petrolera en el país. Pero, antes que nada, son el resultado de nuestra visión del negocio y de querer hacerlo siempre mejor, bajo altos estándares de calidad.</p>
            <a href="#" class="button-style-1 mr-2 style-more">
                <span>Ver más</span>
                <button href="#" class="oc-back-to-top__button">
                    <img src="img/plus_1.svg" alt="">
                </button>
            </a>
        </div>
    </div>
</section>

<section class="oc-galery padding-section pt-3">
    <div class="container">
        <div class="slick-oc oc-galery__car" data-slick='{"slidesToShow": 3}'>
            <div class="oc-galery__item">
                <img src="img/imag-3.jpg" alt="" class="oc-galery__img">
                <img src="img/imag-4.jpg" alt="" class="oc-galery__img">
            </div>
            <div class="oc-galery__item">
                <img src="img/imag-5.jpg" alt="" class="oc-galery__img">
                <img src="img/imag-6.jpg" alt="" class="oc-galery__img">
            </div>
            <div class="oc-galery__item">
                <img src="img/imag-7.jpg" alt="" class="oc-galery__img">
                <img src="img/imag-8.jpg" alt="" class="oc-galery__img">
            </div>
            <div class="oc-galery__item">
                <img src="img/imag-3.jpg" alt="" class="oc-galery__img">
                <img src="img/imag-4.jpg" alt="" class="oc-galery__img">
            </div>
        </div>
    </div>
</section>

<section class="oc-time padding-section">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-6 oc-time__cont-1">
                <img src="img/icon_ocenza_home_linea_de_tiempo.svg" alt="" class="oc-time__icon">
                <h2 class="oc-time__title">Líneas de tiempo:<br>45 días para<br>hacer historia</h2>
            </div>
            <div class="col-12 col-md-6 oc time__cont-2">
                <p class="oc-time__desc">El cambio de la monoboya es una labor de alta ingeniería y será un hito en la historia de nuestra compañía. Esta estructura flotante en el mar Caribe, a 12 kilómetros del Terminal Marítimo de Coveñas, a través de 99 mangueras hace posible la exportación de petróleo a todo el mundo, ahí su importancia. Día a día ejecutaremos actividades hasta dar este gran paso hacia la modernización. Aquí se lo contamos.</p>
            </div>
        </div>
    </div>
    
</section>

<div class="oc-time__func">
    funcion linea de tiempo
</div>

<section class="oc-component padding-section">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-6 oc-component__cont-1">
                <img src="img/icon_ocenza_home_componente_ambiental.svg" alt="" class="oc-component__icon">
                <h2 class="oc-component__title">Componente<br>ambiental siempre<br>presente</h2>
            </div>
            <div class="col-12 col-md-6 oc component__cont-2">
                <p class="oc-component__desc">Para desarrollar la actividad de transporte de petróleo, Ocensa se constituyó como la primera empresa de infraestructura que operó bajo la licencia ambiental de 1991.</p>
                <p class="oc-component__desc">La vigente, otorgada por la ANLA, nos permite operar el oleoducto Cusiana-Coveñas y los kilómetros en mar hasta la TLU-2.</p>
                <a href="#" class="button-style-1 mr-2 style-more">
                    <span>Ver más</span>
                    <button href="#" class="oc-back-to-top__button">
                        <img src="img/plus_1.svg" alt="">
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="oc-sentence bg-primary">
    <img src="img/imag-10.jpg" alt="" class="oc-sentence__img">
    <div class="oc-sentence__cont">
        <div class="oc-circle"></div>
        <p class="oc-sentence__desc">Trabajamos para garantizar una ejecución responsable y segura de las operaciones, priorizando el cuidado por la vida y el medioambiente. El proyecto Conport se ejecuta siguiendo los términos de la licencia ambiental que lo cobija.</p>
    </div>
</section>

<section class="oc-info mb-5 padding-section">
    <div class="oc-info__cont-title container">
        <div class="col-12 col-md-6 oc-component__cont-1">
            <h2 class="oc-info__title">Nuestra<br>operación Off<br>Shore</h2>
        </div>
    </div>
    <div class="oc-info__cont-info scrollbar">
        <img src="./img/infografia.jpg" alt="" class="oc-info__img">

        <button type="button" class="oc-info__tooltip oc-info__mangueras" data-toggle="tooltip" data-placement="right" data-html="true" title=""></button>
        <button type="button" class="oc-info__tooltip oc-info__plem" data-toggle="tooltip" data-placement="right" data-html="true" title="
            <div class='oc-info__item'>
                <p class='oc-info__item-desc'>La monoboya está conectada al múltiple submarino o PLEM por dos grupos de strings de 3 mangueras submarinas de 24” de diámetro cada una y el PLEM finalmente conectado al oleoducto submarino.</p>
                <a href='#' class='oc-info__item-btn'>Ver +</a>
            </div>">
        </button>
        <button type="button" class="oc-info__tooltip oc-info__tlu-2" data-toggle="tooltip" data-placement="right" data-html="true" title="
            <div class='oc-info__item'>
                <p class='oc-info__item-title'>Sistema:</p>
                <p class='oc-info__item-desc'>SPM (Single Point Mooring)<p>
                <hr>
                <p class='oc-info__item-title'>Año de construcción:</p>
                <p class='oc-info__item-desc'>2020<p>
                <hr>
                <p class='oc-info__item-title'>Sistema de anclaje:</p>
                <p class='oc-info__item-desc'>6 pilotes de 48” de diámetro<p>
                <hr>
                <p class='oc-info__item-title'>CONPORT-Correo-26-27feb:</p>
                <p class='oc-info__item-desc'>Sistema UNI- JOINT dual integrado al cuerpo de la SPM<p>
                <hr>
                <p class='oc-info__item-title'>Pin de carga en boya:</p>
                <p class='oc-info__item-desc'>240 Ton. (MBL)<p>
                <a href='#' class='oc-info__item-btn'>Ver +</a>
            </div>">
        </button>
        <button type="button" class="oc-info__tooltip oc-info__estabilizacion" data-toggle="tooltip" data-placement="right" data-html="true" title="
            <div class='oc-info__item'>
                <p class='oc-info__item-desc'>Entre los dos tipos de mangueras flotantes Main line y Tail Hose. Cada string de mangueras tiene instalado un dispositivo o acople Marine Breakaway Coupling (MBC) que funciona como sistema de seguridad para prevenir sobre esfuerzos en las mangueras marinas que puedan conducir a una pérdida de contención a causa de una sobre carga lineal o sobrepresión de flujo.  </p>
                <a href='#' class='oc-info__item-btn'>Ver +</a>
            </div>">
        </button>
        <button type="button" class="oc-info__tooltip oc-info__buque" data-toggle="tooltip" data-placement="right" data-html="true" title="
            <div class='oc-info__item'>
                <p class='oc-info__item-title'>Esloras:</p>
                <p class='oc-info__item-desc'>220 m. (mínima) a 338 m (máxima)<p>
                <hr>
                <p class='oc-info__item-title'>Calado máximo:</p>
                <p class='oc-info__item-desc'>22,0 m<p>
                <hr>
                <p class='oc-info__item-title'>Peso muerto (SDWT):</p>
                <p class='oc-info__item-desc'>320.000 TM<p>
                <hr>
                <p class='oc-info__item-title'>Promedio de buques atendidos por mes: </p>
                <p class='oc-info__item-desc'>15<p>
                <a href='#' class='oc-info__item-btn'>Ver +</a>
            </div>">
        </button>
        <button type="button" class="oc-info__tooltip oc-info__geotubos" data-toggle="tooltip" data-placement="right" data-html="true" title="Tooltip on top"></button>
        <button type="button" class="oc-info__tooltip oc-info__oleoducto" data-toggle="tooltip" data-placement="right" data-html="true" title="Tooltip on top"></button>
        <button type="button" class="oc-info__tooltip oc-info__covenas" data-toggle="tooltip" data-placement="right" data-html="true" title="Tooltip on top"></button>
    </div>  
</section>

{{!-- Importando Footer --}}
{{>partials/footer image-footer="img/pictograma_ocensa_inversionistas_accionistas_inversionistas.svg"}}