{{>partials/header title="Instancias de Ley, segmento y otra" body-class="home"}}

<section class="oc-intro bg-secondary">
    <div class="container">
        <div class="d-flex justify-content-center py-5 align-items-center">
            <img src="img/icon_ocensa_gobierno_corporativo__instancias_organizacionales_header.svg" alt=""
                class="oc-intro__icon">
            <h1 class="oc-intro__title">Instancias de Ley<br> segmento y otra</h1>
        </div>
    </div>
</section>