{{>partials/header title="Instancias Organizacionales" body-class="home"}}

<section class="oc-intro bg-secondary">
    <div class="container">
        <div class="d-flex justify-content-center py-5 align-items-center">
            <img src="img/icon_ocensa_gobierno_corporativo__instancias_organizacionales_header.svg" alt=""
                class="oc-intro__icon">
            <h1 class="oc-intro__title">Instancias <br> Organizacionales</h1>
        </div>
    </div>
</section>

<section class="padding-section text-center" id="ins-organizacionales-grafica">
    <div class="container">
        <img src="img/grafica_ocensa_gobierno_corporativo_instancias_organizacionales_escritorio@2x.png" alt=""
            class="img-fluid mb-5">

        <a href="#" class="oc-button-arrow mt-5">
            <img src="img/oc-arrow-right-2.svg" alt="">
            <span>Ver Estándar Instancias de Gobierno</span>
        </a>
    </div>
</section>

<section class="padding-section" id="acc-ins-organizacionales">
    <div class="container">
        <div class="accordion oc-accordion" id="accordionExample">
            {{!-- Card One --}}
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_ejecutivo.svg" alt=""
                                    class="oc-title-icon">
                                Comité Ejecutivo
                            </div>

                            <div class="oc-tab-icon">
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Estratégico</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Mixto</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Al menos 3 veces / mes</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2-3 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo:</strong></p>
                                    <p class="mt-2 oc-roboto-light">Órgano de gestión, monitoreo, control, asesoría,
                                        alineación en asuntos estratégicos del negocio y decisión respecto de los
                                        asuntos indicados.</p>
                                </div>
                            </div>

                            <div class="col-12 my-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento:</strong></p>

                                    <div class="row">
                                        {{!-- Col left --}}
                                        <div class="col-12 col-md-6">
                                            <h5><i>Revisión de asuntos asociados a gestión de la estrategia
                                                    corporativa:</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Seguimiento de objetivos estratégicos (según programación)</li>
                                                <li>Revisión integral TBG (mensual).</li>
                                                <li>Análisis estratégico, diagnóstico interno y externo
                                                    (por demanda)</li>
                                                <li>Necesidades de ajuste del marco estratégico (por demanda)</li>
                                            </ul>

                                            <h5><i>Revisión de asuntos relacionados con control y riesgos (uno semanal
                                                    según programación):</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Requerimientos ambientales / Indicadores cumplimiento ambiental</li>
                                                <li>Contingencia Local / Disrupciones</li>
                                                <li>Plan de Riesgos Empresariales / Operacionales</li>
                                                <li>Sistema de Gestión Ocensa (SGO)</li>
                                                <li>Plan de Auditoria</li>
                                                <li>Control Interno</li>
                                            </ul>

                                            <p class="oc-roboto-light mt-2">Cualquier asunto considerado  de alto
                                                impacto para el negocio que amerite atención prioritaria y no cuente con
                                                espacio de revisión en otras instancias.</p>
                                        </div>

                                        {{!-- Col right --}}
                                        <div class="col-12 col-md-6">
                                            <h5><i>Temas Adicionales:</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Consulta, información, alineación en temáticas de procesos, de
                                                    acuerdo con contenido de la agenda anual*</li>
                                            </ul>

                                            <h5><i>Notas:</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Las sesiones del comité podrán tener una duración superior si así se
                                                    requiere, de acuerdo con la temática de la agenda.</li>
                                                <li>De existir algún asunto que tenga carácter confidencial, el Líder
                                                    del comité podrá solicitar la salida de los miembros que se requiera
                                                    y definir el secretario ad-hoc.</li>
                                            </ul>

                                            <a href="#" class="btn btn-secondary mt-3">➜ Ver agenda anual*</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Decisiones:</strong></p>
                                    <h5><i>Temas Adicionales - Agenda Anual:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>Definición alcance anual objetivos e iniciativas estratégicas
                                            correspondientes al subproceso de traducción de la estrategia.
                                        </li>
                                        <li>Aprobar calibración de desempeño.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Roles:</strong></p>
                                    <h5><i>Miembros</i></h5>
                                    <ul class="nav flex-column">
                                        <li>Presidente (Líder).</li>
                                        <li>Director Estrategia y Finanzas.</li>
                                        <li>Jefe Estrategia y Gestión (Secretario).</li>
                                        <li>Director Operaciones.</li>
                                        <li>Director Servicios Corporativos.</li>
                                        <li>Director Legal & Secretaría General.</li>
                                        <li>Director Organización y Talento.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="oc-button-arrow">
                                <img src="img/oc-arrow-right-2.svg" alt="">
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary mt-3 d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Two --}}
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_ejecutivo.svg" alt=""
                                    class="oc-title-icon">
                                Comité Inversiones
                            </div>

                            <div class="oc-tab-icon">
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Some placeholder content for the first accordion panel. This panel is shown by default, thanks
                        to the <code>.show</code> class.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        And lastly, the placeholder content for the third and final accordion panel. This panel is
                        hidden by default.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>partials/bottom-header}}