{{>partials/header title="Instancias Organizacionales" body-class="home"}}

{{!-- Bottom Header Mobile --}}
<div class="d-block d-md-none">
    {{>partials/bottom-header}}
</div>

<section class="oc-intro bg-secondary">
    <div class="container">
        <div class="d-flex justify-content-center py-5 align-items-center" data-aos="zoom-in" data-aos-duration="2000">
            <img src="img/icon_ocensa_gobierno_corporativo__instancias_organizacionales_header.svg" alt=""
                class="oc-intro__icon">
            <h1 class="oc-intro__title">Instancias <br> Organizacionales</h1>
        </div>
    </div>
</section>

{{!-- Bottom Header Desktop --}}
<div class="d-none d-md-block">
    {{>partials/bottom-header}}
</div>


<section class="padding-section text-center" id="ins-organizacionales-grafica">
    <div class="container">
        <div class="oc-deslice mb-5 text-center position-relative d-block d-md-none">
            <span class="d-block mb-2">Para navegar deslice horizontalmente</span>
            <img src="img/icon_deslizar-h-azul.svg" alt="">
        </div>
        <div class="oc-box-image scrollbar mb-4">
            <img src="img/grafica_ocensa_gobierno_corporativo_instancias_organizacionales_escritorio@2x.png" alt=""
                class="img-fluid mb-5" data-aos="fade-up" data-aos-duration="2000">
        </div>

        <a href="#" class="oc-button-style-2" data-aos="zoom-in" data-aos-duration="1500">
            <button class="border-green before-white">
                <img src="img/flecha-sin-fondo.svg" alt="">
                <span>Ver Estándar Instancias de Gobierno</span>
            </button>
        </a>
    </div>
</section>

<section class="padding-section acc-ins-organizacionales" id="acc-ins-organizacionales">
    <div class="container">
        <div class="accordion oc-accordion" id="accordionInstancias">
            {{!-- Card Comité Ejecutivo --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_ejecutivo.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Comité Ejecutivo</span>
                            </div>
                            
                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Comité Ejecutivo</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Estratégico</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Mixto</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Al menos 3 veces / mes</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2-3 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo:</strong></p>
                                    <p class="mt-2 oc-roboto-light">Órgano de gestión, monitoreo, control, asesoría,
                                        alineación en asuntos estratégicos del negocio y decisión respecto de los
                                        asuntos indicados.</p>
                                </div>
                            </div>

                            <div class="col-12 my-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento:</strong></p>

                                    <div class="row">
                                        {{!-- Col left --}}
                                        <div class="col-12 col-md-6">
                                            <h5><i>Revisión de asuntos asociados a gestión de la estrategia
                                                    corporativa:</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Seguimiento de objetivos estratégicos (según programación)</li>
                                                <li>Revisión integral TBG (mensual).</li>
                                                <li>Análisis estratégico, diagnóstico interno y externo
                                                    (por demanda)</li>
                                                <li>Necesidades de ajuste del marco estratégico (por demanda)</li>
                                            </ul>

                                            <h5><i>Revisión de asuntos relacionados con control y riesgos (uno semanal
                                                    según programación):</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Requerimientos ambientales / Indicadores cumplimiento ambiental</li>
                                                <li>Contingencia Local / Disrupciones</li>
                                                <li>Plan de Riesgos Empresariales / Operacionales</li>
                                                <li>Sistema de Gestión Ocensa (SGO)</li>
                                                <li>Plan de Auditoria</li>
                                                <li>Control Interno</li>
                                            </ul>

                                            <p class="oc-roboto-light mt-2">Cualquier asunto considerado  de alto
                                                impacto para el negocio que amerite atención prioritaria y no cuente con
                                                espacio de revisión en otras instancias.</p>
                                        </div>

                                        {{!-- Col right --}}
                                        <div class="col-12 col-md-6">
                                            <h5><i>Temas Adicionales:</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Consulta, información, alineación en temáticas de procesos, de
                                                    acuerdo con contenido de la agenda anual*</li>
                                            </ul>

                                            <h5><i>Notas:</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Las sesiones del comité podrán tener una duración superior si así se
                                                    requiere, de acuerdo con la temática de la agenda.</li>
                                                <li>De existir algún asunto que tenga carácter confidencial, el Líder
                                                    del comité podrá solicitar la salida de los miembros que se requiera
                                                    y definir el secretario ad-hoc.</li>
                                            </ul>

                                            <a href="#" class="btn btn-secondary mt-3">➜ Ver agenda anual*</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Decisiones:</strong></p>
                                    <h5><i>Temas Adicionales - Agenda Anual:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>Definición alcance anual objetivos e iniciativas estratégicas
                                            correspondientes al subproceso de traducción de la estrategia.
                                        </li>
                                        <li>Aprobar calibración de desempeño.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Roles:</strong></p>
                                    <h5><i>Miembros</i></h5>
                                    <ul class="nav flex-column">
                                        <li>Presidente (Líder).</li>
                                        <li>Director Estrategia y Finanzas.</li>
                                        <li>Jefe Estrategia y Gestión (Secretario).</li>
                                        <li>Director Operaciones.</li>
                                        <li>Director Servicios Corporativos.</li>
                                        <li>Director Legal & Secretaría General.</li>
                                        <li>Director Organización y Talento.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Comité Inversiones --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_inversiones.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Comité Inversiones</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Comité Inversiones</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Estratégico</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Mixto</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Órgano de gestión, monitoreo, control, asesoría,
                                        alineación en asuntos estratégicos del negocio y decisión respecto de los
                                        asuntos indicados.</p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Revisar portafolio de inversiones para presentación de la solicitud a
                                            aprobación de la JD.</li>
                                        <li>Revisar plan de negocios, previa solicitud de aprobación en JD.</li>
                                        <li>Revisar presupuesto y sus modificaciones para la solicitud de aprobación a
                                            la JD en caso de que se requiera según Estatutos.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Decisiones</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Aprobar el inicio de fases y control de cambios en proyectos aprobados que
                                            impacten la promesa de valor.</li>
                                        <li>Delegar  aprobación y toma de decisiones para las distintas  categorías del
                                            portafolio, en las instancias que se definan.</li>
                                    </ul>
                                    <p class="mt-3 oc-roboto-light">De existir algún asunto que tenga carácter
                                        confidencial, el Líder del comité podrá solicitar la salida de los miembros que
                                        se requiera y se define el secretario ad-hoc.</p>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Miembros:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Presidente (voz y voto).</li>
                                        <li>Director Estrategia y Finanzas (voz y voto).</li>
                                        <li>Director Operaciones (voz y voto).</li>
                                        <li>Director Servicios Corporativos (voz y voto).</li>
                                        <li>Director Responsabilidad Integral (voz y voto).</li>
                                        <li>Gerente Proyectos e Ingeniería (voz).</li>
                                        <li>Gerente Finanzas Corporativas (voz).</li>
                                        <li>Gerente Estrategia y Crecimiento (voz).</li>
                                        <li>Jefe Gestión Presupuestal y Portafolio (Líder).</li>
                                        <li>Profesional Senior Gestión Portafolio (Secretario).</li>
                                    </ul>

                                    <h5><i>Miembros por invitación:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>De acuerdo a la temática se invitará a participantes de otras áreas, entre
                                            otros:</li>
                                        <li>Director O&T.</li>
                                        <li>Director Legal y Secretaría General.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Foro Alineación Táctica --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                            aria-controls="collapseTwo">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__foro_alineacion_tactica.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Foro Alineación Táctica</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Foro Alineación Táctica</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Táctico</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Foro</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 3 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir de foro informativo, alineación y discusión
                                        de temas estratégicos y de interés para el negocio, entre el equipo Directivo,
                                        Gerentes y Jefes.
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Mensajes de Presidencia.</li>
                                        <li>Resultados Financieros, proyecciones volumétricas/financieras y TBG. </li>
                                        <li>Revisión avance o seguimiento objetivos estratégicos y red colaborativa.
                                        </li>
                                        <li>Temas inscritos por Directores (enfocados al seguimiento de la gestión del
                                            negocio). Máximo 3 temas por sesión.</li>
                                        <li>Logros compañía, inscritos por Directores previamente.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Miembros:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Presidente (Líder).</li>
                                        <li>Profesional Estrategia y Gestión (Secretario).</li>
                                        <li>Equipo Directivo.</li>
                                        <li>Equipo Gerentes.</li>
                                        <li>Equipo Jefes.</li>
                                    </ul>

                                    <h5><i>Miembros por invitación:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>De acuerdo con temática.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Consejo Abastecimiento --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                            aria-controls="collapseTwo">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__foro_alineacion_tactica.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Consejo Abastecimiento</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Consejo Abastecimiento</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                    data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Estratégico</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Foro</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 3 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir de foro informativo, alineación y discusión
                                        de temas estratégicos y de interés para el negocio, entre el equipo Directivo,
                                        Gerentes y Jefes.
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Mensajes de Presidencia.</li>
                                        <li>Resultados Financieros, proyecciones volumétricas/financieras y TBG. </li>
                                        <li>Revisión avance o seguimiento objetivos estratégicos y red colaborativa.
                                        </li>
                                        <li>Temas inscritos por Directores (enfocados al seguimiento de la gestión del
                                            negocio). Máximo 3 temas por sesión.</li>
                                        <li>Logros compañía, inscritos por Directores previamente.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Miembros:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Presidente (Líder).</li>
                                        <li>Profesional Estrategia y Gestión (Secretario).</li>
                                        <li>Equipo Directivo.</li>
                                        <li>Equipo Gerentes.</li>
                                        <li>Equipo Jefes.</li>
                                    </ul>

                                    <h5><i>Miembros por invitación:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>De acuerdo con temática.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Comité Operaciones --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                            aria-controls="collapseFive">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_operaciones.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Comité Operaciones</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Comité Operaciones</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                    data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Táctico</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Mixto</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir de instancia de aprobación y
                                        seguimiento sobre aspectos que tengan incidencia en la operación y mantenimiento
                                        del sistema, de acuerdo con las atribuciones definidas a continuación.
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Realizar seguimiento y analizar de las actividades de operación y
                                            mantenimiento efectuadas en el mes (M-2) y (M-1).</li>
                                        <li>Evaluar proyecciones sobre actividades con afectación al transporte en el
                                            mes (M+1) - (M+5).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Decisiones</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Aprobar la capacidad efectiva a ofrecer en el mes (M).</li>
                                        <li>Aprobar proyecciones de capacidad efectiva en mes(M+1) - (M+5).</li>
                                        <li>Aprobar fechas y horas de Paradas por Mantenimiento Planeado en el mes (M).
                                        </li>
                                        <li>Aprobar cambios de fechas por Mantenimiento Mayor en mes (M+1) - (M+5).</li>
                                        <li>Definir medidas especiales para condiciones de operación del mes (M-2)
                                            (M-1).</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Miembros:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Director Operaciones (Líder) (voto).</li>
                                        <li>Gerente Planeación, confiabilidad e integridad de mto (voto). </li>
                                        <li>Gerente O&M Sur y Norte (voto).</li>
                                        <li>Gerente Proyectos e ingeniería (voto).</li>
                                        <li>Gerente Transporte (voto).</li>
                                        <li>Profesional Senior Planeación Mantenimiento (Secretario) (voz).</li>
                                        <li>Jefe de Planeación de Transporte (voz).</li>
                                        <li>Jefe de Estrategia de Mantenimiento (voz).</li>
                                        <li>Jefe de Operación Centralizada (voz).</li>
                                    </ul>

                                    <h5><i>Miembros por invitación:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>Según se requiera para cada sesión.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Comité Gestión Financiera --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                            aria-controls="collapseFive">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_gestion_financiera.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Comité Gestión Financiera</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Comité Gestión Financiera</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Táctico</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Mixto</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2-3 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Instancia para la toma de decisiones relacionadas
                                        con la gestión financiera, orientadas a mejorar los excedentes de caja, tomar
                                        medidas para la mitigación de los riesgos financieros e identificar y gestionar
                                        fuentes de capital, así como analizar el valor razonable de la cartera con base
                                        en la cartera que se encuentre vencida, con el fin de evaluar y determinar las
                                        evidencias objetivas de deterioro o recuperación y la toma de decisiones
                                        requeridas sobre los casos presentados.
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Revisar cambios a las políticas de manejo de excedentes de liquidez y
                                            gestión de riesgo Financieros para posterior presentación y aprobación en la
                                            Junta Directiva.</li>
                                        <li>Revisar y recomendar sobre cambios y actualización de tipologías
                                            documentales relacionadas con pagos y cartera. </li>
                                        <li>Proponer y evaluar nuevas estrategias que le permitan a la compañía obtener
                                            rendimientos financieros.</li>
                                        <li>Analizar indicadores de endeudamiento de la Compañía y de la estructura de
                                            capital. </li>
                                        <li>Realizar seguimiento sobre la gestión de recursos. </li>
                                        <li>Presentar los reportes que permitan el seguimiento periódico por parte del
                                            Comité de Auditoría.</li>
                                        <li>Revisar y validar las variaciones de los principales rubros del flujo de
                                            caja de acuerdo con análisis de proyecciones. Recomendar acciones frente a
                                            las variaciones y principales rubros.</li>
                                        <li>Revisar y monitorear el estado de cartera de la compañía. </li>
                                        <li>Discutir, revisar y validar propuestas de endeudamiento y estructura de
                                            capital de la compañía, para presentación a Presidencia y Junta Directiva.
                                        </li>
                                        <li>Asegurar y validar las exposiciones de OPEX e Impuestos aprobadas por la
                                            Junta Directiva, previa revisión de las bases, variables, consistencia de
                                            las cifras y resultados de la presentación de opciones de coberturas
                                            entregada por el tercero, para que se proceda posteriormente con las
                                            operaciones según condiciones aprobadas.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Decisiones</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Aprobar la apertura de las posiciones de cobertura en línea con la política
                                            y estrategia aprobada por la Junta Directiva.</li>
                                        <li>Aprobar nuevas entidades como contrapartes.</li>
                                        <li>Aprobar la apertura y cierre de productos financieros.</li>
                                        <li>Aprobar la opción de instrumentos financieros para el manejo de excedentes
                                            de liquidez.</li>
                                        <li>Aprobar los contratos marco e ISDA para negociación de coberturas. </li>
                                        <li>Aprobar los cupos y esquema para negociación de divisas y coberturas. </li>
                                        <li>Revisar y aprobar el modelo específico para la medición del riesgo y sus
                                            variables críticas.</li>
                                        <li>Aprobar los mecanismos de operaciones estandarizadas teniendo como base la
                                            propuesta de los mercados electrónicos en los que se puede operar y las
                                            entidades financieras.</li>
                                        <li>Aprobar la metodología, cálculo y monto de caja mínima.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Miembros:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Director de Estrategia y Finanzas (voto).</li>
                                        <li>Gerente de Finanzas Corporativas (Líder) (voto).</li>
                                        <li>Profesional Senior de Planeación Financiera (Secretario) (voto).</li>
                                        <li>Jefe de Tesorería (voto).</li>
                                        <li>Gerente Senior Riesgos y Cumplimiento (voz).</li>
                                    </ul>

                                    <h5><i>Miembros por invitación:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>Tercero gestión riesgos financieros.</li>
                                        <li>Según tema a tratar Gerente Estrategia y Crecimiento, Subgerente Comercial
                                            y/o Profesional Senior Gestión de Ingresos (Temas cartera), Jefe
                                            Contabilidad y Profesional Contabilidad General (Temas cartera), Profesional
                                            Senior Impuestos (Temas impuestos).</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Comité Ética --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingEtica">
                    <h2 class="mb-0">
                        <a class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" href="#" target="_blank">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_etica.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Comité Ética</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Comité Ética</span>
                                <img src="img/oc-arrow-right-2.svg" alt="" class="oc-tab-icon__right">
                            </div>
                        </a>
                    </h2>
                </div>

                <div id="collapseEtica" class="collapse" aria-labelledby="headingEtica"
                    data-parent="#accordionInstancias">
                    <div class="card-body">

                    </div>
                </div>
            </div>

            {{!-- Card Foro Táctico HSE --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseHSE" aria-expanded="true"
                            aria-controls="headingHSE">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__foro_tactico_hse.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Foro Táctico HSE</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Foro Táctico HSE</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseHSE" class="collapse" aria-labelledby="headingHSE" data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Operativo</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Foro</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 1.5 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir de instancia de alineación, divulgación y
                                        seguimiento respecto de los asuntos HSE indicados en los temas a tratar, o
                                        aquellos  que por su relevancia sean definidos por la Gerencia HSE.
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Temas a tratar</strong></p>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h5><i>Informativo, Divulgación, Alineación:</i></h5>
                                            <ul class="nav flex-column mt-3">
                                                <li>Divulgar Plan HSE. </li>
                                                <li>Divulgar tendencias de A&C, mejores prácticas, investigación de
                                                    accidentes/incidentes asegurando aprendizaje y mejora.</li>
                                                <li>Presentar programas, acciones para el fortalecimiento de la cultura
                                                    de HSE.</li>
                                                <li>Proponer ajustes a políticas, lineamientos de mejora del proceso
                                                    HSE.</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <h5><i>Seguimiento:</i></h5>
                                            <ul class="nav flex-column mt-3 oc-list-number">
                                                <li>
                                                    Indicadores:
                                                    <ul class="subitems nav flex-column">
                                                        <li>TBG.</li>
                                                        <li>Seguridad de procesos.</li>
                                                    </ul>
                                                </li>
                                                <li>Seguimiento a Plan HSE.</li>
                                                <li>Seguimiento a compromisos de reuniones anteriores.</li>
                                                <li>Seguimiento a cierre de A&C.</li>
                                                <li>Seguimiento cierre de accidentes.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Participantes:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Gerente HSE (Líder).</li>
                                        <li>Jefe Aseguramiento HSE Corporativo y Campo (Secretario).</li>
                                        <li>Profesionales Senior HSE Campo.</li>
                                        <li>Autoridad de Área.</li>
                                        <li>Gerente O&M.</li>
                                        <li>Gerente Transporte.</li>
                                        <li>Gerente Planeación Mantenimiento.</li>
                                        <li>Gerente Gestión y Riesgos Operacionales.</li>
                                        <li>Gerente Proyectos e Ingeniería.</li>
                                        <li>Superintendentes / Jefes Sector.</li>
                                        <li>Presidente.</li>
                                        <li>Director Responsabilidad Integral.</li>
                                        <li>Director Operaciones. </li>
                                        <li>Director Servicios Corporativos.</li>
                                        <li>Expertos HSE.</li>
                                    </ul>

                                    <h5><i>Invitados:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>De acuerdo con temáticas.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Comité Marco Regulatorio Operacional --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseMarco" aria-expanded="true"
                            aria-controls="headingMarco">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__comite_mro.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Comité Marco Regulatorio Operacional</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Comité Marco Regulatorio Operacional</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseMarco" class="collapse" aria-labelledby="headingMarco"
                    data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Operativo</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Mixto</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> según solicitud y/o criticidad
                                        de temas</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir de instancia de discusión y aprobación
                                        respecto de asuntos relacionados con el Marco Regulatorio Operacional de Ocensa,
                                        con el fin de garantizar su aplicabilidad, cumplimiento y pertinencia frente de
                                        acuerdo con las necesidades e intereses del negocio.
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Discutir y generar aclaraciones para definir de manera clara y concisa
                                            objetivos y alcances para cumplir cualquier requerimiento del Marco
                                            Regulatorio.</li>
                                        <li>Monitorear periódicamente los indicadores y la efectividad del programa OQ.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="oc-acc-box oc-bg-gray oc-h-100">
                                            <p><strong class="text-primary">Decisiones</strong>
                                            </p>
                                            <ul class="nav flex-column mt-3">
                                                <li>Aprobar solicitudes de modificación al Marco Regulatorio
                                                    Operacional.</li>
                                                <li>Aprobar el planteamiento de cambios al MRO, con objetivos y
                                                    alcances.</li>
                                                <li>Aprobar la inclusión, exclusión de tareas calificadas.</li>
                                                <li>Aprobar o rechazar actualizaciones al programa OQ.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="oc-acc-box oc-bg-gray">
                                            <p><strong class="text-primary">Roles</strong></p>
                                            <h5><i>Miembros</i></h5>
                                            <ul class="nav flex-column mt-3">
                                                <li>Director de Operaciones (voto).</li>
                                                <li>Gerente de Transporte (voto).</li>
                                                <li>Gerente Planeación, confiabilidad e integridad mto (Líder) (voto).
                                                </li>
                                                <li>Gerente Proyectos e Ingeniería (voto).</li>
                                                <li>Gerente O&M Sur / Norte (voto).</li>
                                                <li>Experto MRO y Programa OQ (Secretario) (voz).</li>
                                                <li>Gerente Senior Riesgos y Cumplimiento (voz).</li>
                                                <li>Gerente HSE (voz).</li>
                                                <li>Gerente Capacidad Organizacional (voz).</li>
                                                <li>Gerente de Talento Humano (voz).</li>
                                            </ul>

                                            <h5><i>Miembros por invitación</i></h5>
                                            <ul class="nav flex-column mt-3">
                                                <li>Según se requiera para cada sesión</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card IMT-E --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <a class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button"
                            href="http://gestiondocumental/CONTROL%20MAESTRO%20DE%20DOCUMENTOS/GESTION%20HSE/ESTANDAR/ESTANDAR%20IMT-E.pdf"
                            target="_blank">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__imte.svg" alt="" class="oc-title-icon">
                                <span class="d-none d-md-inline-block">IMT-E</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">IMT-E</span>
                                <img src="img/oc-arrow-right-2.svg" alt="" class="oc-tab-icon__right">
                            </div>
                        </a>
                    </h2>
                </div>

                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                    data-parent="#accordionInstancias">
                    <div class="card-body">

                    </div>
                </div>
            </div>

            {{!-- Card Foro Operativo HSE --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                            aria-controls="collapseFive">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__foro_operativo_hse.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Foro Operativo HSE</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Foro Operativo HSE</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                    data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Operativo</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Foro</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Semanal</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 1 hora</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir de instancia de alineación, divulgación y
                                        seguimiento respecto de los asuntos HSE indicados en los temas a tratar, o
                                        aquellos  que por su relevancia sean definidos por la Gerencia HSE.</p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h5><i>Informativo, Divulgación, Alineación:</i></h5>
                                            <ul class="nav flex-column mt-3">
                                                <li>Divulgar Plan HSE. </li>
                                                <li>Divulgar tendencias de A&C, mejores prácticas, investigación de
                                                    accidentes/incidentes asegurando aprendizaje y mejora.</li>
                                                <li>Presentar programas, acciones para el fortalecimiento de la cultura
                                                    de HSE.</li>
                                                <li>Proponer ajustes a políticas, lineamientos de mejora del proceso
                                                    HSE.</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <h5><i>Seguimiento:</i></h5>
                                            <ul class="nav flex-column mt-3">
                                                <li>Seguimiento a Plan HSE.</li>
                                                <li>Seguimiento a compromisos de reuniones anteriores.</li>
                                                <li>Seguimiento a cierre de A&C.</li>
                                                <li>Seguimiento cierre de accidentes.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Participantes:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Jefe Aseguramiento HSE Corporativo y Campo (Líder).</li>
                                        <li>Profesionales Senior HSE Campo (Secretario).</li>
                                        <li>Autoridad de Área.</li>
                                        <li>Gerente O&M.</li>
                                        <li>Gerente Transporte.</li>
                                        <li>Gerente Planeación Mantenimiento.Gerente Planeación Mantenimiento.</li>
                                        <li>Gerente Gestión y Riesgos Operacionales.</li>
                                        <li>Gerente Proyectos e Ingeniería.</li>
                                        <li>Superintendentes / Jefes Sector.</li>
                                    </ul>

                                    <h5><i>Invitados:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>Expertos HSE.</li>
                                        <li>Otros, de acuerdo con temáticas.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Foro Desempeño Financiero --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                            aria-controls="headingNine">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__foro_desempeño_financiero.svg" alt=""
                                    class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Foro Desempeño Financiero</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Foro Desempeño Financiero</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                    data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Operativo</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Foro</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir como instancia de revisión, alineación y
                                        seguimiento de resultados financieros y de gestión.
                                    </p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Asesoría / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>
                                            Resultados indicadores financieros y de gestión: <br>
                                            - Resultados PYG del periodo y acumulado. <br>
                                            - Comportamiento de los volúmenes, ingresos y los diferentes paquetes de
                                            costos de la compañía. <br>
                                            - Resultados TBG.
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray oc-h-100">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <h5><i>Miembros:</i></h5>
                                    <ul class="nav flex-column mt-3">
                                        <li>Presidente.</li>
                                        <li>Director Estrategia y Finanzas.</li>
                                        <li>Director Operaciones.</li>
                                        <li>Director de OYT.</li>
                                        <li>Director RI.</li>
                                        <li>Director Legal.</li>
                                        <li>Gerente Senior Riesgos y Cumplimento.</li>
                                        <li>Gerente Senior Auditoria.</li>
                                        <li>Jefe Gestión Presupuestal y Portafolio (Líder).</li>
                                        <li>Profesional Senior Presupuesto (Secretario).</li>
                                    </ul>

                                    <h5><i>Miembros por invitación:</i></h5>
                                    <ul class="nav flex-column">
                                        <li>De acuerdo con temática.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <a href="#" class="oc-button-style-2">
                                <button class="border-green before-white">
                                    <img src="img/flecha-sin-fondo.svg" alt="">
                                </button>
                                <span>Ver Estándar Instancias de Gobierno</span>
                            </a>

                            <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Card Foro Foro Interferencia con Terceros --}}
            <div class="card" data-aos="fade-right" data-aos-duration="1500">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left d-flex justify-content-between align-items-center button-collapse"
                            type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"
                            aria-controls="headingTen">
                            <div>
                                <img src="img/icon_ocensa_gobierno_corporativo__foro_interferencia_con_terceros.svg"
                                    alt="" class="oc-title-icon">
                                <span class="d-none d-md-inline-block">Foro Interferencia con Terceros</span>
                            </div>

                            <div class="oc-tab-icon">
                                <span class="d-block d-md-none">Foro Interferencia con Terceros</span>
                                <span class="oc-tab-icon__date d-none">Fecha publicación: Feb 10/2021</span>
                                <img src="img/oc-icon-more.svg" alt="" class="oc-tab-icon__more">
                            </div>
                        </button>
                    </h2>
                </div>

                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionInstancias">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-green">
                                    <p><strong>Origen:</strong> Proceso</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-turq">
                                    <p><strong>Nivel:</strong> Operativo</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="oc-acc-box oc-bg-yellow">
                                    <p><strong>Naturaleza:</strong> Foro</p>
                                </div>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Frecuencia:</strong> Mensual</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Duración:</strong> 2 horas</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Objetivo</strong></p>
                                    <p class="mt-2 oc-roboto-light">Servir de instancia de alineación, seguimiento y
                                        monitoreo respecto de factores externos a la Compañía que representan una
                                        interacción con el entorno, con el fin de establecer estrategias  encaminadas a
                                        la gestión de  interferencias existencias o potenciales.</p>
                                </div>
                            </div>

                            <div class="col-12 mt-3">
                                <div class="oc-acc-box oc-bg-gray">
                                    <p><strong class="text-primary">Información / Alineación / Seguimiento</strong></p>
                                    <ul class="nav flex-column mt-3">
                                        <li>Analizar interferencias potenciales con otros operadores para posterior
                                            formalización de acuerdos.</li>
                                        <li>Definir acciones producto del análisis del comportamiento de acuerdos y de
                                            la gestión preventiva, para posterior ejecución en el marco de cada proceso.
                                        </li>
                                        <li>Analizar en conjunto el comportamiento de acuerdos vigentes.</li>
                                        <li>Analizar los resultados (indicadores) de la gestión preventiva con terceros
                                            realizada por los diferentes procesos de la Compañía. </li>
                                        <li>Analizar interferencias potenciales en el marco de la actividad económica
                                            del entorno en cada sector del oleoducto, con el fin de determinar la
                                            estrategia de gestión de interferencias óptima en cada zona.</li>
                                    </ul>
                                </div>

                                <div class="oc-acc-box oc-bg-gray mt-3">
                                    <p><strong class="text-primary">Roles</strong></p>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <h5><i>Miembros:</i></h5>
                                            <ul class="nav flex-column mt-3">
                                                <li>Gerente Planeación, Confiabilidad e Integridad MTO (Líder).</li>
                                                <li>Superintendente Línea / Sector.</li>
                                                <li>Profesional Sr. Integridad (Secretario).</li>
                                                <li>Gerente Responsabilidad Social.</li>
                                                <li>Gerente Seguridad Física y Protección.</li>
                                                <li>Jefe Riesgos Operacionales.</li>
                                                <li>Jefe Gestión Inmobiliaria.</li>
                                                <li>Jefe Civil y Geotecnia.</li>
                                            </ul>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <h5><i>Miembros por invitación:</i></h5>
                                            <ul class="nav flex-column">
                                                <li>Director Operaciones.</li>
                                                <li>Director Responsabilidad Integral.</li>
                                                <li>Gerente O&M Sur y Norte.</li>
                                                <li>Experto Gestión Ambiental.</li>
                                                <li>Experto Manejo de Crisis.</li>
                                            </ul>

                                            <p class="mt-2 oc-roboto-light">Según se requiera, evaluar otros posibles
                                                invitados.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <a href="#" class="oc-button-arrow">
                                        <img src="img/oc-arrow-right-2.svg" alt="">
                                        <span>Ver Estándar Instancias de Gobierno</span>
                                    </a>

                                    <a href="#" class="btn btn-secondary d-inline-block">➜ Gestión Documental</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>partials/footer}}