{{>partials/header title="Instancias de ley, Segmento y otras" body-class="instancias-de-ley"}}

<section id="instancias-1" class="oc-intro oc-bg-yellow">
    <div class="container">
        <div class="d-flex justify-content-center py-5 align-items-center">
            <img src="img/icon_ocensa_gobierno_corporativo__instancias_de_ley.svg" alt="" class="oc-intro__icon">
            <h1 class="oc-intro__title">Instancias de Ley<br> segmento y otra</h1>
        </div>
    </div>
</section>

{{>partials/bottom-header}}

<section id="instancias-2" class="padding-section">
    <div class="container">
        <div class="oc-deslice mb-5 text-center position-relative d-block d-md-none">
            <span class="d-block mb-2">Para navegar deslice horizontalmente</span>
            <img src="img/icon_deslizar-h-azul.svg" alt="">
        </div>
        <div class="my-5"></div>
        <div class="scrollbar">
            <img src="img/grafica_ocensa_gobierno_corporativo_instancias_legales_movil.jpg" alt=""
            class="d-block d-sm-block d-md-none">
            <img src="img/grafica_ocensa_gobierno_corporativo_instancias_legales_esritorio.jpg" alt=""
                class="img-fluid d-none d-sm-none d-md-block">
        </div>
    </div>
</section>

{{>partials/footer}}