{{!-- Importando Header --}}
{{>partials/header title="Terminal marítimo de Coveñas" body-class="terminal-maritimo"}}

<section id="intro-hero-concesion" class="oc-intro-hero oc-slider-terminal"
    style="background-image: url('img/cov_imag_1.jpg');">
    <div class="container">
        <div class="oc-intro-hero__cont d-flex align-items-center oc-h-100">
            <h1 class="oc-intro-hero__title" data-aos="fade-right" data-aos-duration="3000">Terminal Marítimo<br>de Coveñas</h1>
        </div>
    </div>
</section>

<section class="padding-section" id="datos-de-interes">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 oc-padding-title">
                <img src="img/28-icon_ocenza_terminal_covenas_datos_interes.svg" alt="" class="oc-icon-section"
                    data-aos="fade-in" data-aos-duration="2000">
                <h2 class="mt-4 oc-subtitle line-yellow oc-line-title">Terminal de Coveñas, datos de interés</h2>
                <p class="oc-text-color-dark">Se construyó en el año 199X gracias al primer contrato entre la ANI y
                    Ocensa, que data de 1996.</p>
            </div>
            <div class="col-12 col-md-7 position-relative">
                <img src="img/cov_imag_2.jpg" alt="" class="img-fluid" data-aos="fade-right" data-aos-duration="1000">
                <div class="oc-box bg-primary" data-aos="fade-left" data-aos-duration="1000"></div>
            </div>
        </div>
    </div>
</section>

<section class="padding-section" id="info-slider" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <div class="slick-oc__terminal px-4">
            <div class="oc-item-slick">
                {{!-- Box info --}}
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/29-icon_ocenza_terminal_covenas_ubicado.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-yellow p-3">
                            <p>Ubicado en el municipio de Coveñas, departamento de Sucre, en la región Caribe. Esta
                                zona, antes de 1966, formaba parte del Bolívar Grande. Entonces su capital era Cartagena
                                de Indias, hoy es Sincelejo. Se encuentra entre las localidades de Tolú (Sucre) y San
                                Antero (Córdoba).</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oc-item-slick">
                {{!-- Box info --}}
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/32-icon_ocenza_terminal_covenas_su_area.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-gray p-3">
                            <p>Su área de operación comprende Xxxxx kilómetros cuadrados.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oc-item-slick">
                {{!-- Box info --}}
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/30-icon_ocenza_terminal_covenas_es_el_puerto.svg" alt="">
                        </div>

                        <div class="oc-info-box__text p-3 oc-box-yellow">
                            <p>Es el puerto petrolero más importante de Colombia, porque por aquí salen los mayores
                                volúmenes de exportación. Operan tres terminales: el Terminal Marítimo de Coveñas, de
                                Ocensa; el de Oleoducto de Colombia (ODC), y el de Cenit, operado por Ecopetrol.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/31-icon_ocenza_terminal_covenas_recibe_petroleo.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-yellow p-3">
                            <p>Recibe petróleo del segmento 3 del ducto que viene de las estaciones de Vasconia y
                                Caucasia. También recibe de ODC, de Caño Limón y del Oleoducto Bicentenario. Transfiere
                                crudo, o sea, lo pasa a los otros terminales.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/33-icon_ocenza_terminal_covenas_aqui_llegan.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-gray p-3">
                            <p>Aquí llegan los crudos de diferente calidad: pesados, livianos y de mezcla. Viajan en el
                                ducto uno detrás del otro, sin mezclarse entre sí; la técnica se conoce como bacheo.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/34-icon_ocenza_terminal_covenas_nuestra_terminal.svg" alt="">
                        </div>

                        <div class="oc-info-box__text p-3 oc-box-yellow">
                            <p>Nuestra Terminal cuenta con 7 tanques de almacenamiento con capacidad para 350.000,
                                420.000 y 600.000 barriles. </p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/35-icon_ocenza_terminal_covenas_un_barril.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-yellow p-3">
                            <p>(Un barril es un volumen igual a 42 galones, y cada galón equivale a tres litros con
                                siete mil ochocientos cincuenta y tres diezmilésimas de litro (3.7853) o 9.702,0
                                pulgadas cúbicas).</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/36-icon_ocenza_terminal_covenas_todo_este_petroleo.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-gray p-3">
                            <p>Todo este petróleo es de nuestros clientes, no de Ocensa; nosotros lo recibimos y lo
                                transportamos hasta el buque que nos indiquen.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/37-icon_ocenza_terminal_covenas_desde_este_puerto.svg" alt="">
                        </div>

                        <div class="oc-info-box__text p-3 oc-box-yellow">
                            <p>Desde este puerto se les inyecta petróleo a buques de diferentes tamaños: con capacidad
                                para 500.000, 750.000, 1.000.000 y hasta 2.000.000 de barriles.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/38-icon_ocenza_terminal_covenas_el_ultimo_tramo.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-yellow p-3">
                            <p>El último tramo del oleoducto, que viene desde Casanare, sale de esta terminal y recorre
                                12 kilómetros hasta el PLEM, ubicado debajo de la TLU-2. Está protegido por concreto
                                debajo del agua. Unas mangueras llevan el crudo a la monoboya y otras lo conducen a los
                                barcos.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/39-icon_ocenza_terminal_covenas_por_que_almacenamos.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-gray p-3">
                            <p>¿Por qué almacenamos? Para regular las entradas y las salidas del crudo, y para
                                prestarles el servicio de acopio a los clientes, quienes negocian teniendo en cuenta los
                                precios del mercado, entre otras razones.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/40-icon_ocenza_terminal_covenas_aqui_contamos.svg" alt="">
                        </div>

                        <div class="oc-info-box__text p-3 oc-box-yellow">
                            <p>Aquí contamos con una capacidad de exportación de 1.080.000 barriles diarios; más de 25
                                millones al mes.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/41-icon_ocenza_terminal_covenas_2020_tlu2.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-yellow p-3">
                            <p>2020: por la TLU-2 se atendieron 158 buquetanques; por la TLU-1, 2, y por la TLU-3, 8.
                                Total atendidos desde 1997: 3274.</p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/42-icon_ocenza_terminal_covenas_2020_barriles.svg" alt="">
                        </div>

                        <div class="oc-info-box__text oc-box-gray p-3">
                            <p>2020: millones de barriles (mb) exportados: 133.6. Cantidad exportada desde 1997: 2261.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Box info --}}
            <div class="oc-item-slick">
                <div class="col-12 p-0">
                    <div class="oc-info-box text-center">
                        <div class="oc-info-box__icon p-3">
                            <img src="img/43-icon_ocenza_terminal_covenas_2020_record_buques.svg" alt="">
                        </div>

                        <div class="oc-info-box__text p-3 oc-box-yellow">
                            <p>2020: récord de buques atendidos por mes: 23.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="padding-section" id="cifras-2020">
    <div class="container">
        <div class="row align-items-end justify-content-between">
            <div class="col-12 col-md-6 oc-padding-title" data-aos="fade-right" data-aos-duration="1000">
                <img src="img/44-icon_ocenza_terminal_covenas_estadisticas.svg" alt="" class="oc-icon-section"
                    data-aos="zoom-in" data-aos-duration="2000">
                <h2 class="mt-4 oc-subtitle line-yellow oc-line-title">Cifras de la <br> terminal en 2020</h2>
            </div>
            <div class="col-12 col-md-5 position-relative" data-aos="fade-left" data-aos-duration="1000">
                <p class="oc-text-color-dark">Como hemos dicho, este puerto ubicado en el kilómetro 836 de nuestra
                    tubería, es fundamental para la economía nacional. A continuación, algunas cifras y datos que nos
                    ayudan a comprender mejor su importancia.</p>
            </div>
        </div>
    </div>
</section>

<section class="mb-5" id="cifras-slider" data-aos="fade-up" data-aos-duration="1500">
    {{!-- Slider cifras --}}
    <div class="slick-oc__style-2" data-slick='{"slidesToShow": 1, "infinite": false}'>
        {{!-- Item --}}
        <div class="oc-row-full d-flex my-5">
            <div class="oc-col-full oc-bg-gray">
                <h3 class="oc-title-style-2">Exportaciones a <br>Norteamérica</h3>

                <div class="oc-card-numbers d-flex mt-4 mb-5 scrollbar scrollbar-vertical">
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">DESTINO</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column">
                            <li class="nav-item">USA</li>
                            <li class="nav-item">Canadá</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">BARRILES EXPORTADOS</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column text-right">
                            <li class="nav-item">1.209.894.488</li>
                            <li class="nav-item">7.276.262</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5 bg-primary position-relative">
                        <h5 class="oc-card-numbers__item__title text-center">REPRESENTA</h5>
                        <span class="oc-percent position-absolute mt-4">
                            53,84 %
                        </span>
                    </div>
                </div>
            </div>
            <div class="oc-col-full oc-bg-image" style="background-image: url('img/cov_imag_3.jpg');">
                <div class="my-5"></div>
            </div>
        </div>

        {{!-- Item --}}
        <div class="oc-row-full d-flex my-5">
            <div class="oc-col-full oc-bg-gray">
                <h3 class="oc-title-style-2">Exportaciones a <br>Centro y Suramérica</h3>

                <div class="oc-card-numbers d-flex mt-4 mb-5 scrollbar scrollbar-vertical">
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">DESTINO</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column">
                            <li class="nav-item">Panamá</li>
                            <li class="nav-item">Antillas holandesas</li>
                            <li class="nav-item">Puerto Rico</li>
                            <li class="nav-item">Trinidad y Tobago</li>
                            <li class="nav-item">Brasil</li>
                            <li class="nav-item">República Dominicana</li>
                            <li class="nav-item">Chile</li>
                            <li class="nav-item">Caribbean</li>
                            <li class="nav-item">Islas Vírgenes de los EE. UU.</li>
                            <li class="nav-item">Bahamas</li>
                            <li class="nav-item">Costa Rica</li>
                            <li class="nav-item">Venezuela</li>
                            <li class="nav-item">Perú</li>
                            <li class="nav-item">Colombia</li>
                            <li class="nav-item">Uruguay</li>
                            <li class="nav-item">Nicaragua</li>
                            <li class="nav-item">Santa Lucía</li>
                            <li class="nav-item">Aruba</li>
                            <li class="nav-item">Otros países y territorios</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">BARRILES EXPORTADOS</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column text-right">
                            <li class="nav-item">288.501.303</li>
                            <li class="nav-item">62.057.494</li>
                            <li class="nav-item">19.816.231</li>
                            <li class="nav-item">11.690.900</li>
                            <li class="nav-item">11.028.555</li>
                            <li class="nav-item">10.250.462</li>
                            <li class="nav-item">5.474.846</li>
                            <li class="nav-item">4.764.191</li>
                            <li class="nav-item">4.658.812</li>
                            <li class="nav-item">8.699.761</li>
                            <li class="nav-item">3.296.142</li>
                            <li class="nav-item">2.726.298</li>
                            <li class="nav-item">3.061.809</li>
                            <li class="nav-item">2.446.678</li>
                            <li class="nav-item">396.390</li>
                            <li class="nav-item">323.904</li>
                            <li class="nav-item">16.929.261</li>
                            <li class="nav-item">996.971</li>
                            <li class="nav-item">87.601.793</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5 bg-primary position-relative">
                        <h5 class="oc-card-numbers__item__title text-center">REPRESENTA</h5>
                        <span class="oc-percent position-absolute mt-4">
                            24,10 %
                        </span>
                    </div>
                </div>
            </div>
            <div class="oc-col-full oc-bg-image" style="background-image: url('img/cov_imag_4.jpg');">
                <div class="my-5"></div>
            </div>
        </div>

        {{!-- Item --}}
        <div class="oc-row-full d-flex my-5">
            <div class="oc-col-full oc-bg-gray">
                <h3 class="oc-title-style-2">Exportaciones a <br>Asia</h3>

                <div class="oc-card-numbers d-flex mt-4 mb-5">
                    <div class="oc-card-numbers__item p-4 px-5 scrollbar scrollbar-vertical">
                        <h5 class="oc-card-numbers__item__title text-center">DESTINO</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column">
                            <li class="nav-item">China</li>
                            <li class="nav-item">India</li>
                            <li class="nav-item">Singapore</li>
                            <li class="nav-item">Corea del Sur</li>
                            <li class="nav-item">Malasia</li>
                            <li class="nav-item">Japón</li>
                            <li class="nav-item">Turquía</li>
                            <li class="nav-item">Emiratos Árabes Unidos</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">BARRILES EXPORTADOS</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column text-right">
                            <li class="nav-item">259.891.160</li>
                            <li class="nav-item">101.740.258</li>
                            <li class="nav-item">11.309.961</li>
                            <li class="nav-item">10.066.268</li>
                            <li class="nav-item">5.475.454</li>
                            <li class="nav-item">2.944.579</li>
                            <li class="nav-item">689.562</li>
                            <li class="nav-item">499.212</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5 bg-primary position-relative">
                        <h5 class="oc-card-numbers__item__title text-center">REPRESENTA</h5>
                        <span class="oc-percent position-absolute mt-4">
                            17,37 %
                        </span>
                    </div>
                </div>
            </div>
            <div class="oc-col-full oc-bg-image" style="background-image: url('img/cov_imag_5.jpg');">
                <div class="my-5"></div>
            </div>
        </div>


        {{!-- Item --}}
        <div class="oc-row-full d-flex my-5">
            <div class="oc-col-full oc-bg-gray">
                <h3 class="oc-title-style-2">Exportaciones a <br>Europa</h3>

                <div class="oc-card-numbers d-flex mt-4 mb-5">
                    <div class="oc-card-numbers__item p-4 px-5 scrollbar scrollbar-vertical">
                        <h5 class="oc-card-numbers__item__title text-center">DESTINO</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column">
                            <li class="nav-item">España</li>
                            <li class="nav-item">Países Bajos (Holanda)</li>
                            <li class="nav-item">Noruega</li>
                            <li class="nav-item">Italia</li>
                            <li class="nav-item">Francia</li>
                            <li class="nav-item">Rep. Fed. de Alemania</li>
                            <li class="nav-item">Reino Unido</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">BARRILES EXPORTADOS</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column text-right">
                            <li class="nav-item">76.078.039</li>
                            <li class="nav-item">10.063.120</li>
                            <li class="nav-item">2.935.295</li>
                            <li class="nav-item">2.304.929</li>
                            <li class="nav-item">1.522.100</li>
                            <li class="nav-item">501.223</li>
                            <li class="nav-item">474.574</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5 bg-primary position-relative">
                        <h5 class="oc-card-numbers__item__title text-center">REPRESENTA</h5>
                        <span class="oc-percent position-absolute mt-4">
                            4,15 %
                        </span>
                    </div>
                </div>
            </div>
            <div class="oc-col-full oc-bg-image" style="background-image: url('img/cov_imag_6.jpg');">
                <div class="my-5"></div>
            </div>
        </div>

        {{!-- Item --}}
        <div class="oc-row-full d-flex my-5">
            <div class="oc-col-full oc-bg-gray">
                <h3 class="oc-title-style-2">Exportaciones a <br>África</h3>

                <div class="oc-card-numbers d-flex mt-4 mb-5 scrollbar scrollbar-vertical">
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">DESTINO</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column">
                            <li class="nav-item">Costa de Marfil</li>
                            <li class="nav-item">Sudáfrica</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5">
                        <h5 class="oc-card-numbers__item__title text-center">BARRILES EXPORTADOS</h5>
                        <ul class="oc-card-numbers__item__list nav flex-column text-right">
                            <li class="nav-item">10.637.958</li>
                            <li class="nav-item">1.597.983</li>
                        </ul>
                    </div>
                    <div class="oc-card-numbers__item p-4 px-5 bg-primary position-relative">
                        <h5 class="oc-card-numbers__item__title text-center">REPRESENTA</h5>
                        <span class="oc-percent position-absolute mt-4">
                            0,54 %
                        </span>
                    </div>
                </div>
            </div>
            <div class="oc-col-full oc-bg-image" style="background-image: url('img/cov_imag_7.jpg');">
                <div class="my-5"></div>
            </div>
        </div>
    </div>
</section>



{{!-- Importando Footer --}}
{{>partials/footer image-footer="./img/pictograma_ocensa_conport_footer_3.svg"}}