{{!-- Importando Header --}}
{{>partials/header title="TLU2" body-class="tlu2"}}

<section id="intro-hero-concesion" class="oc-intro-hero" style="background-image: url('img/path-6415.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="oc-intro-hero__title">TLU2</h1>
            </div>
            <div class="col-12 col-md-6">
            </div>
        </div>
    </div>
</section>

<section class="padding-section" id="tlu-nueva">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6">
                <div class="row align-items-end">
                    <div class="col-12 col-md-4 text-right">
                        <hr class="line-yellow">
                    </div>
                    <div class="col-12 col-md-8">
                        <img src="img/26-icon_ocenza_tlu2_tlu2_nueva_informacion_financiera_reportes.svg" alt="" class="oc-icon-section">
                        <h2 class="mt-4 oc-subtitle">TLU 2 nueva</h2>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 position-relative">
                <p class="oc-text-color-dark">La nueva monoboya permitirá el transporte de crudos más pesados y podrá adaptarse para funcionar de manera bidireccional. Tendrá, entre otras novedades y recursos de tecnologías de punta, un módulo fotovoltaico, eólico (turbina) y de baterías con autonomía para cinco días en caso de falla de alimentación, sin pérdida de comunicación con tierra; protección contra la corrosión; iluminación tipo LED interna y externa; válvulas principales de 42’’, 24’’ y 20’’, automatizadas y electrohidráulicas que reducen el tiempo de respuesta operativa de forma remota; avanzados sistemas de engrase y medición de agua; un circuito cerrado de televisión y un vehículo para inspección y mantenimiento submarino, operado a distancia.</p>
            </div>
        </div>
    </div>
</section>


<section id="tlu2-banner">
    <img src="img/path-6416.jpg" alt="" class="oc-image-banner">
    <div class="oc-box-yellow bg-primary"></div>
</section>

<section class="padding-section" id="futuro-tlu2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="row align-items-center">
                    <div class="col-12 col-md-3 text-right">
                        <hr class="line-yellow">
                    </div>
                    <div class="col-12 col-md-9">
                        <img src="img/27-icon_ocenza_tlu2_el_futuro_tlu2_informacion_financiera_reportes.svg" alt="" class="oc-icon-section">
                        <h2 class="mt-4 oc-subtitle">El futuro de la <br> TLU-2 retirada</h2>
                        <p class="oc-text-color-dark">“El plan de contingencia tiene todas las medidas reactivas para mitigar algún impacto que pudiera presentarse. Esperamos un concepto de la ANI sobre la monoboya; hay varias opciones: que se chatarrice, que se repotencie o que se hunda, que es por la que optamos porque ambientalmente es más sostenible; el ecosistema se iría regenerando sobre el artefacto. A veces es difícil que los arrecifes encuentren un sitio donde estacionarse, y lo que hacen estas estructuras es facilitar ese proceso. El Golfo de Morrosquillo es un ecosistema bastante estratégico, con variada fauna y flora, con manglares y áreas protegidas. Hay muchas personas en las comunidades que obtienen muchos servicios asociados a esos ecosistemas, la idea es protegerlos”, expresó Gabriel Caicedo, profesional senior Aseguramiento HSE de Ocensa.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 position-relative">
                <div class="slick-oc"  data-slick='{"slidesToShow": 1, "dots": true, "arrows": false}'>
                    <div class="oc-item-slick">
                        <img src="img/mask-group-13.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="oc-item-slick">
                        <img src="img/mask-group-13.jpgroup-14.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="oc-item-slick">
                        <img src="img/mask-group-13.jpgroup-15.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="oc-item-slick">
                        <img src="img/mask-group-13.jpgroup-16.jpg" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="oc-box bg-primary"></div>
            </div>
        </div>
    </div>
</section>

{{!-- Importando Footer --}}
{{>partials/footer image-footer="./img/pictograma_ocensa_conport_footer_4.svg"}}